<aside class="paginate">
    <div>
    <section>
      <h4 id="date">Created: {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
    </section>
    </div>
    <div>
        {{ with .NextInSection }}
        <a class="previous" href="{{.Permalink}}">
          <span><i class="fas fa-angle-double-left"></i></span>
          {{.Title}}</a>
        {{ end }}
        {{ with .PrevInSection }}
          <a class="next" href="{{.Permalink}}">
            {{.Title}}
            <span><i class="fas fa-angle-double-right"></i></span>
          </a> 
  
        {{ end }}
    </div>
</aside>