<noscript>This notice requires javascript to remove.  Please enable javascript to view the rest of the site. </noscript>
<section class="breaking-news">
	<div class="breaking-news__container">
		<div class="breaking-news__column">
			<h3>Important Update</h3>
			<time datetime="2022-04-01">April 1, 2022</time>

			<p><strong>Dear Arbor House Families & Friends:</strong></p>

			<p>It is with mixed emotions and a heavy heart that I am informing you of the closure of Arbor House assisted living at the
			end of the month - April 2022.  My husband has continued to need more and more care.  As a result of his Lewy Body Dementia Diagnosis,
		I feel like this summer might be his last opportunity to have any normal activities and still be aware of his family and surroundings.</p>

	<p>It is for this reason among others that I must give you 30 day notice to relocate your loved ones.  I will help in any and all ways that I can with this necessary transition.  I have been told by Grand Traverse Pavilion admission coordinator that most likely our AH residents will be accepted but we need to move forward with their admission requirements.  I was very grateful to get that info.  
	</p>

	<p>Of course it's up to you where your folks go but at least this is a viable option.</p>
	<p>Please don't hesitate to contact me through out this moving process.  God Bless you all and thanks for your care and concern.   The AH team knows it has been a true privilege to support our beloved residents and thank you for that opportunity.  
	</p>

	<p><strong>Cindy Robertson</strong></p>
	<p><strong>Arbor House Assisted Living</strong></p>
	<div class="btn-wrapper">
		<button id="closeModal">I UNDERSTAND</button>
	</div>
		</div>
	</div>
</section>

<script type="text/javascript" defer>

const modal = document.querySelector('.breaking-news');
const modalBtn = document.getElementById('closeModal');

window.addEventListener('load', () => {
	modal.classList.add('smooth-transition');
})

modal.addEventListener('click', (e) => {
	modal.classList.add('removing')
	modal.classList.remove('smooth-transition')
	setTimeout(() => {
		modal.style.display = 'none';
	}, 500);
})

</script>

