<section class="services about testimonials contact">
    <header class="services-header">
        <div class="row">
            <div class="col">
                <h2>Get In Touch</h2>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="inner-card">
                    <h3>Contact Us</h3>
                    <form action="https://api.formcake.com/api/form/9d9ac373-7f50-43d9-abd0-c1ca773981cc/submission" class="main-form">
                        <div class="form-control">
                            <label for="name">Name: </label>
                            <input type="text" name="name" id="name">
                        </div>
                        <div class="form-control">
                            <label for="email">Email: </label>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="form-control">
                            <label for="message">Message:</label>
                            <textarea name="message" id="message" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-control">
                            <button class="cta-btn" type="submit">Submit</button>
                            <button class="cta-btn" type="reset">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <iframe title="Our Location" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2831.7959773546004!2d-85.56848858524128!3d44.7849645865293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x881fd2f49f9a7ba5%3A0xc64ebb05cbe25798!2sArbor%20House%20Assisted%20Living!5e0!3m2!1sen!2sus!4v1621990812200!5m2!1sen!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>