<footer class="footer-main">
<div class="row">
    <div class="col">
        <span class="hero-text">
            We offer long-term care for individuals with Alzheimer's and Dementia in the Traverse City area.
        </span>
    </div>
</div>
<div class="row">
    <div class="col">
        <address>
            <span>Address</span>
            <ul>
                <li>6901 Mission Rdg</li>
                <li>Traverse City, Michigan 49686</li>
                <li><a href="tel:+12319353772">(231) 935-3772</a></li>
            </ul>
        </address>
        <span class="hidden">Contact</span>
        <ul class="fa-ul">
            <li class="menu-social"><a href="https://www.facebook.com/ArborHouseAssistedLivingHome/" target="_blank" rel="nofollow noreferrer" title="Facebook"><i class="fab fa-lg fa-facebook"></i></a></li>
            <li class="menu-social"><a href="mailto:andrew@andrew-mccall.com"><i class="fas fa-lg fa-paper-plane" title="Email Us"></i></a></li>
            <li class="menu-social"><a href="tel:+12319353772"><i class="fas fa-lg fa-phone" title="231-935-3772"></i></a></li>
        </ul>
    </div>
    <div class="col">
        <span>Menu</span>
        <nav class="footer-nav">
            {{range .Site.Menus.main }}
    <a href="{{ .URL}}" title="{{ .Name }}">{{ .Name }}</a>
        {{ end }}
        </nav>
    </div>
</div>
<div class="row">
    <p>&copy; <span id="currentYear"></span> Arbor House ALH.  Site developed and maintained by <a href="https://andrew-mccall.com"> andrew m mccall</a></p>
</div>
</footer>
<script src="{{.Site.BaseURL}}js/script.js" async></script>
<script src="{{ .Site.BaseURL}}js/menuScript.js" async></script>