<footer class="footer-main">
<div class="row hero">
    <div class="col">
        <h4 class="hero-text">
            We offer long-term care for individuals with Alzheimer's and Dementia in the Traverse City area.
        </h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <h4>Our Promise</h4>
        <p>
            Arbor House Adult Living Home is a dementia care and assisted living facility that provides long term care to the elderly and disabled. Arbor House is owned and operated by a family that has lived in Northern Michigan for four generations, and we strive to deliver the best care possible.
        </p>
        <br />
        <p>
            Many people are unaware that there are options available to help those with Alzheimer’s and dementia.
            We offer a complete care program to help preserve your loved one's independence and quality of life.
            We offer a full continuum of care, with levels of care including independent living, assisted living, and skilled nursing.
        </p>
    </div>
    <div class="col">
        <h4>Address</h4>
        <address>
            <ul>
                <li>6901 Mission Rdg</li>
                <li>Traverse City, Michigan 49686</li>
                <li><a href="tel:+12319353772">(231) 935-3772</a></li>
            </ul>
        </address>
        <h4 class="hidden">Contact</h4>
        <ul class="fa-ul">
            <li class="menu-social"><a href="https://www.facebook.com/ArborHouseAssistedLivingHome/" target="_blank" rel="nofollow noreferrer" title="Facebook"><i class="fab fa-lg fa-facebook"></i></a></li>
            <li class="menu-social"><a href="#"><i class="fas fa-lg fa-paper-plane" title="Email Us"></i></a></li>
            <li class="menu-social"><a href="tel:+12319353772"><i class="fas fa-lg fa-phone" title="231-935-3772"></i></a></li>
        </ul>
        <a href="tel:+12319353772" title="call now" aria-label="phone link" class="footer-cta-btn">Call Now</a>
    </div>
    <div class="col">
        <h4>Menu</h4>
        <nav class="footer-nav">
            {{range .Site.Menus.main }}
            <div class="footer-nav__control">
                <i class="fas fa-chevron-right"></i>
    <a href="{{ .URL | absURL }}" title="{{ .Name }}">{{ .Name }}</a>
            </div>
        {{ end }}
        </nav>
    </div>
    <div class="col map">
        <h4>Get Directions</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2831.795977354697!2d-85.56848858415569!3d44.78496458652733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x881fd2f49f9a7ba5%3A0xc64ebb05cbe25798!2sArbor%20House%20Assisted%20Living!5e0!3m2!1sen!2sus!4v1640531684850!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" title="map" loading="lazy"></iframe>
    </div>
</div>
<div class="row">
    <p>&copy;  <span id="currentYear"></span> Arbor House ALH.  Site developed and maintained by <a href="https://andrew-mccall.com" id="creator" target="_blank" rel="noreferrer"> andrew m mccall</a></p>
</div>
</footer>
<script src="{{.Site.BaseURL}}js/script.js" async></script>
<script src="{{ .Site.BaseURL}}js/menuScript.js" async></script>