{{ partial "navbar.html"}}
<header class="header-main">
  <div class="carousel">
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <h1>{{.Site.Title}}</h1>
          </div>
          <div class="col">
            <figure class="one">
                <img class="lazy" data-src="{{.Site.BaseURL}}images/cover-photo-1.jpg" alt="Cover Photo">
                <figcaption>
                    1. Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus pariatur dolore iusto quis officia saepe.
                </figcaption>
            </figure>
            <button class="cta-btn">
              <a href="tel:+12319353772">Call Now</a>
            </button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <h1>{{.Site.Title}}</h1>
          </div>
          <div class="col">
            <figure class="two">
                <img class="lazy" data-src="{{.Site.BaseURL}}images/cover-photo-2.jpg" alt="Cover Photo">
                <figcaption>
                    1. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Necessitatibus pariatur dolore iusto quis officia saepe.
                </figcaption>
            </figure>
            <button class="cta-btn">
              <a href="tel:+12319353772">Call Now</a>
            </button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <h1>{{.Site.Title}}</h1>
          </div>
          <div class="col">
            <figure class="three">
                <img class="lazy" data-src="{{.Site.BaseURL}}images/cover-photo-3.jpg" alt="Cover Photo">
                <figcaption>
                    3. Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus pariatur dolore iusto quis officia saepe.
                </figcaption>
              
            </figure>
            <button class="cta-btn">
              <a href="tel:+12319353772">Call Now</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
