{{ partial "navbar.html"}}
<header class="header-main">
  <div class="carousel">
    <div class="carousel-inner">
      <div class="carousel-item one">
        <div class="row">
          <div class="col">
            <h1>{{.Site.Title}}</h1>
          </div>
          <div class="col">
            <button class="cta-btn">
              <a href="tel:+12319353772">Call Now</a>
            </button>
          </div>
          <div class="col">
            <h2>Our Services</h2>
            <ul>
              <li>Alzheimers Care</li>
              <li>Memory Care</li>
              <li>Adult Assisted Living</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="carousel-item two">
        <div class="row">
          <div class="col">
            <h1>{{.Site.Title}}</h1>
          </div>
          <div class="col">
            <button class="cta-btn">
              <a href="tel:+12319353772">Call Now</a>
            </button>
          </div>
          <div class="col">
            <h2>24/7 Licensed Nurses</h2>
            <ul>
              <li>Full 24 hours a day care</li>
              <li>
                Specialized staff trained in Alzheimer's Disease and dementia
              </li>
              <li>Daily Acivities for Residents</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="carousel-item three">
        <div class="row">
          <div class="col">
            <h1>{{.Site.Title}}</h1>
          </div>
          <div class="col">
            <button class="cta-btn">
              <a href="tel:+12319353772">Call Now</a>
            </button>
          </div>
          <div class="col">
            <h2>Nutritional Management</h2>
            <ul>
              <li>Our In House Chef provides nutritionally complete meals</li>
              <li>Breakfast, lunch, dinner, and snacks as needed</li>
              <li>
                Dedicated daily housekeeping and laundry staff to maintain
                cleanliness and order
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
