<div class="preloader"></div>
<div class="navbar-main">
  <nav class="mobile">
    <span class="navbar-main__menu-title">Menu</span>
    <ul class="fa-ul">
      {{ $currentPage := . }}
      {{range .Site.Menus.mobile }}
        {{ if .HasChildren }}
        <li aria-hidden="true" class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }} subToggle">
          <span class="fa-li"><i aria-hidden="true" class="fas fa-angle-right"></i></span>
          <a href="#">
              {{ .Pre }}
              <span>{{ .Name }}</span>
          </a>
      </li>
      <ul class="sub-menu">
          {{ range .Children }}
              <li aria-hidden="true" class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                  <a href="{{ .URL }}" tabindex="-1">{{ .Name }}</a>
              </li>
          {{ end }}
      </ul>
  {{ else }}       

      <li>
        <span class="fa-li"><i aria-hidden="true" class="fas fa-angle-right"></i></span><a href="{{ .URL }}" tabindex="-1">{{ .Name }}</a></li>

      {{ end }}
      {{ end }}
    </ul>
    <span class="navbar-main__menu-title">Contact</span>
    <ul class="fa-ul">
      <li aria-hidden="true" class="menu-social">
        <a
          href="https://www.facebook.com/ArborHouseAssistedLivingHome/"
          target="_blank"
          rel="nofollow noreferrer"
          title="Facebook"
          ><i aria-hidden="true" class="fab fa-2x fa-facebook"></i
        ></a>
      </li>
      <li aria-hidden="true" class="menu-social">
        <a href="mailto:andrew@andrew-mccall.com"
          ><i aria-hidden="true" class="fas fa-2x fa-paper-plane" title="Email Us"></i
        ></a>
      </li>
      <li aria-hidden="true" class="menu-social">
        <a href="tel:+12319353772"
          ><i aria-hidden="true" class="fas fa-2x fa-phone" title="231-935-3772"></i
        ></a>
      </li>
    </ul>
    <address>
      <ul>
        <li>6901 Mission Rdg</li>
        <li>Traverse City, Michigan 49686</li>
        <li><a href="tel:+12319353772">(231) 935-3772</a></li>
      </ul>
    </address>
  </nav>
  <div class="navbar-main__container">
    <div class="col">
      <a href="{{ .Site.BaseURL}}" title="Arbor House"
        ><img
          data-src="{{.Site.BaseURL}}images/logo-no-bg.png"
          alt="logo"
          class="lazy"
          height="85"
          width="125"
      /></a>
    </div>
    <div class="col">
      <div class="hamburger-container">
        <span class="hamburger"></span>
      </div>
      <nav class="desktop-nav">
        {{range .Site.Menus.main }}
    <a href="{{ .URL}}" title="{{ .Name }}">{{ .Name }}</a>
        {{ end }}
            </nav>
    </div>
  </div>
</div>
