<div class="preloader"></div>
<div class="navbar-main">
  <nav class="">
    <ul class="fa-ul">
      <span class="navbar-main__menu-title">Menu</span>
      {{range .Site.Menus.main }}

      <li>
        <span class="fa-li"><i class="fas fa-angle-right"></i></span><a href="{{ .URL }}">{{ .Name }}</a></li>

      {{ end }}
    </ul>
    <ul class="fa-ul">
      <span class="navbar-main__menu-title">Contact</span>
      <li class="menu-social">
        <a
          href="https://www.facebook.com/ArborHouseAssistedLivingHome/"
          target="_blank"
          rel="nofollow noreferrer"
          title="Facebook"
          ><i class="fab fa-2x fa-facebook"></i
        ></a>
      </li>
      <li class="menu-social">
        <a href="mailto:andrew@andrew-mccall.com"
          ><i class="fas fa-2x fa-paper-plane" title="Email Us"></i
        ></a>
      </li>
      <li class="menu-social">
        <a href="tel:+12319353772"
          ><i class="fas fa-2x fa-phone" title="231-935-3772"></i
        ></a>
      </li>
    </ul>
    <address>
      <ul>
        <span class="navbar-main__menu-title">Address</span>
        <li>6901 Mission Rdg</li>
        <li>Traverse City, Michigan 49686</li>
        <li><a href="tel:+12319353772">(231) 935-3772</a></li>
      </ul>
    </address>
  </nav>
  <div class="navbar-main__container">
    <div class="col">
      <a href="/" title="Arbor House"
        ><img
          data-src="{{.Site.BaseURL}}/images/logo-no-bg.png"
          alt="logo"
          class="lazy"
          height="85"
          width="125"
      /></a>
    </div>
    <div class="col">
      <div class="hamburger-container">
        <span class="hamburger"></span>
      </div>
      <nav class="desktop-nav">
        {{range .Site.Menus.main }}

        <a href="{{ .URL }}">{{ .Name }}</a>
  
        {{ end }}
            </nav>
    </div>
  </div>
</div>
