<section class="services">
    <header class="services-header">
        <div class="row">
            <div class="col">
                <h2>Welcome To Arbor House
                    Assisted Living Home</h2>
                <p>We invite you to learn more about Arbor House Assisted Living - our quaint community specializing in personalized care for those with dementia and memory loss. Arbor House has been serving families in the Grand Traverse area for years. Our residents enjoy a carefree lifestyle of personal attention from our team of professional caregivers. Most of our caregivers have been working at Arbor House for many years. The residents cherish the special bond which is created between the caregivers they come to know and trust with their care.
                    Arbor House is located at the base of the Old Mission Peninsula in Traverse City. Close enough to city services and Doctors, yet nestled in the woods off a private cul de sac.
                    For a personal tour and availability, please contact the owner, Cindy Robertson.</p>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="inner-card">
                    <h3>Quality Of Life</h3>
                    <img data-src="{{ .Site.BaseURL }}images/quality-of-life-icon.jpg" alt="quality of life" class="lazy icon">
                    <p class="card-content">
                        Enjoy life in your own private apartment, knowing that you will have necessary services available to you if and when you need them.
                    </p>
                    <button class="cta-btn">
                        <a href="/services"><i class="fas fa-heart fa-lg"></i>Learn More</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="inner-card">
                    <h3>Safety And Protection</h3>
                    <img data-src="{{ .Site.BaseURL }}images/safety-and-protection-icon.jpg" alt="quality of life" class="lazy icon">
                    <p class="card-content">
                        Benefit from 24-hour emergency assistance and care, security and safety systems, and regular medical monitoring.
                    </p>
                    <button class="cta-btn">
                        <a href="/services"><i class="fas fa-heart fa-lg"></i>Learn More</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="inner-card">
                    <h3>Personal Needs</h3>
                    <img data-src="{{ .Site.BaseURL }}images/personal-needs-icon.jpg" alt="quality of life" class="lazy icon">
                    <p class="card-content">
                        Benefit from 24-hour emergency assistance and care, security and safety systems, and regular medical monitoring.
                    </p>
                    <button class="cta-btn">
                        <a href="/services"><i class="fas fa-heart fa-lg"></i>Learn More</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="inner-card">
                    <h3>Nutrition</h3>
                    <img data-src="{{ .Site.BaseURL }}images/nutrition-icon.jpg" alt="quality of life" class="lazy icon">
                    <p class="card-content">
                        Eating delicious, nutritious meals with friends is an important part of being healthy and active. Our meals are prepared by professional chefs.
                    </p>
                    <button class="cta-btn">
                        <a href="/services"><i class="fas fa-heart fa-lg"></i>Learn More</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>