<section class="special-services">
    <div class="row">
        <div class="col">
            <h3>Special Services: </h3>
        </div>
    </div>
 <div class="row">
     <div class="col">
         <ul class="fa-ul">
             <li><span class="fa li"><i class="fas fa-check"></i></span>Staffed 24 hours, 7 days a week</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Large Private Rooms</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Personal Independence Encouraged</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Intercom in all rooms</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Hair Dresser</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Gardening & more</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Outings Available</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Outdoor Ramp</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Alarm/security system</li>
         </ul>
     </div>
     <div class="col">
         <ul class="fa-ul">
             <li><span class="fa li"><i class="fas fa-check"></i></span>Medications monitored</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>In home physical/occupational therapy</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Chair lift to upper level</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Cable-ready access</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Transportation to appointments</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Arts and crafts coordinator</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Puzzles, games, cards, tv, movies</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Walk-in bathtubs available</li>
             <li><span class="fa li"><i class="fas fa-check"></i></span>Fenced in walk-ways</li>
         </ul>
     </div>
 </div>   
</section>