<section class="services about testimonials">
    <header class="services-header">
        <div class="row">
            <div class="col">
                <h2>Testimonials</h2>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col">
            <div class="card testimonial">
                <i class="fas fa-quote-right fa-2x"></i>
                <div class="inner-card">
                    <h3>Louise Kelly & Family </h3>
                    <p class="card-content">
                        Our thanks to you all for the excellent care you gave to George. I’m sorry he had to endure Bortz, and i know they gave him as much care as they could, before Tom made the transfer to Arbor House. As I’m sure you were aware, I would have loved having him home if it were possible. The family were impressed with the loving care you gave their dad. We appreciated the card you sent and it will be kept with so many others in a special folder.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card testimonial">
                <i class="fas fa-quote-right fa-2x"></i>
                <div class="inner-card">
                    <h3>Evelyn and Richard Spencer</h3>
                    <p class="card-content">
                        Thank you (and your staff) for taking such good care of our dad, Clyde Spencer. We had a wonderful fishing trip knowing that dad was well cared for. Also, thank you for helping our daughter take dad to the doctor. You are very caring and professional. Thank you for the note, one of these days I will stop to see you. Grateful for your care of George. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card testimonial">
                <i class="fas fa-quote-right fa-2x"></i>
                <div class="inner-card">
                    <h3>Holly Cooper</h3>
                    <p class="card-content">
                        I completely and totally recommend Arbor House. They provide a high level of care, support and supervision in a home-like environment. The staff cook the meals on the premises and make special dishes to accommodate the needs and sometimes finicky appetites of the elderly residents. They are very aware of the importance of getting the residents out of their beds and rooms and bringing them to the common areas to socialize.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>