<section class="services about">
    <header class="services-header">
        <div class="row">
            <div class="col">
                <h2>Who We Are & Our Experience</h2>
                <p>If you are interested in learning more about our services, or Alzheimer’s Care and Dementia Care in Traverse City
                    Please call us <a href="tel:+12319353772">231-935-3772</a> </p>
            </div>
        </div>
    </header>
    <div class="row fixed-background" id="background" data-src="{{ .Site.BaseURL}}images/child-elderly-parent-1.jpg">
        <div class="col">
            <div class="card ">
                <div class="inner-card">
                    <h3>We offer long-term care for individuals with Alzheimer's and Dementia in the Traverse City area.</h3>
                    <p class="card-content">
                        Arbor house is an Assisted Living home specializing in dementia, memory loss and alzheimers. The owner, Cindy Robertson, is a native of the area and has a passion for caregiving. A member of the Michigan Assisted Living Association, Cindy is active with the Bay area Senior Advocates, and provides on-going mentoring and training for her small staff of loyal caregivers. The caregivers are skillful, efficient and caring. Many have been working at Arbor House for years. A well monitored routine schedule ensures that the residents are well groomed, fed, monitored, exercised and engaged... Read More
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>