@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap&text=ARBORHUSE");
/******************
**Content Section**
*******************/
h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  max-width: 60ch;
  padding: 1rem;
}

#content > .cta-btn {
  display: block;
}

figure {
  margin: auto;
}
figure img {
  display: block;
  margin: auto;
}
figure figcaption {
  display: block;
  margin: auto;
  max-width: 60ch;
  padding: 1rem;
}

p {
  font-size: 1.33em;
  margin: auto;
  max-width: 60ch;
  padding: 1em;
}
p a {
  margin: 0;
  padding: 0;
  display: inline;
}
p img {
  margin: 1rem auto;
  max-width: 499px;
  padding: 1rem;
  opacity: 1;
  width: 100%;
}
p img[src$="#img-floatRight"] {
  float: right;
}
p img[src$="#img-floatLeft"] {
  float: left;
}

.cta-btn {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: block;
  margin: 1rem auto;
}

/***********
**Layouts**
***********/
div#content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}
div#content section {
  flex: 0 0 100%;
}
div#content section.video {
  margin-top: 1rem;
}
div#content aside {
  flex: 0 0 100%;
}
div#content aside .card {
  background: #fff;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
}

section#main p {
  max-width: 60ch;
}
section#main p + ul {
  max-width: 60ch;
  padding: 1em;
}
section#main p + ul li {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
section#main p + ul li a {
  padding: 0;
}
section#main p + ul li ul li {
  font-weight: 500;
}

footer.footer-main p {
  font-size: 0.9em;
  max-width: initial;
}

@media screen and (min-width: 1365px) {
  div#content aside {
    flex: 0 0 100%;
  }

  section.video .card {
    margin: 0 auto;
    max-width: 968px;
  }
}
.testimonials {
  padding: 1.5rem 0.5rem;
}
.testimonials .row {
  text-align: center;
}
.testimonials .row .swiper {
  background: #333 url("../images/backgrounds/review-bg-360x1585.webp");
  box-shadow: 2px 2px 20px -15px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  color: #fff;
  margin: 1rem auto;
  max-width: 968px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 968px) {
  .testimonials .row .swiper {
    background: #333 url("../images/backgrounds/review-bg-968x900.webp");
  }
}
.testimonials .row .swiper .swiper-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  margin: auto;
  padding: 0;
  transition: transform 500ms ease;
  -webkit-transition: transform 500ms ease;
}
.testimonials .row .swiper .swiper-wrapper .swiper-slide {
  flex: 0 0 100%;
  margin: auto;
}
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card {
  max-width: 100%;
  height: 100%;
  position: relative;
}
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card.testimonial {
  border-radius: 10px;
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  padding: 0;
}
@media screen and (min-width: 968px) {
  .testimonials .row .swiper .swiper-wrapper .swiper-slide .card.testimonial {
    flex-direction: row;
  }
}
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card {
  margin: auto;
  max-width: 100%;
}
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card .inner-card__column {
  display: grid;
  margin: auto;
  max-width: 100%;
  padding: 1rem;
  place-items: center;
  text-align: center;
}
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card .inner-card__column h3 {
  grid-area: 1/2;
}
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card .inner-card__column figure {
  grid-area: 2/2;
}
@media screen and (min-width: 968px) {
  .testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card .inner-card__column {
    height: 100%;
  }
}
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card h3 {
  position: relative;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  font-size: 2.5rem;
  text-align: center;
}
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card h3::after {
  background: #e6e6e6;
  box-shadow: 2px 2px 20px -10px rgba(255, 255, 255, 0.75);
  content: "";
  display: block;
  height: 2px;
  bottom: -1rem;
  margin: 0 auto;
  width: 80px;
}
@media screen and (min-width: 1200px) {
  .testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card h3::after {
    margin-right: auto;
    margin-left: 0;
  }
}
@media screen and (min-width: 968px) {
  .testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card h3 {
    text-align: left;
  }
}
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card .heart-container {
  display: grid;
  place-items: center;
}
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card .card-content p {
  padding: 1rem 2rem;
  position: relative;
  text-align: left;
}
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card .card-content p .fa-quote-right {
  color: #fff;
  position: absolute;
  top: 0em;
  left: 0em;
}
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card .fa-calendar {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
}
@media screen and (min-width: 768px) {
  .testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: start center;
  }
  .testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card h1,
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card figure,
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card .heart-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    text-align: center;
  }
  .testimonials .row .swiper .swiper-wrapper .swiper-slide .card .inner-card .card-content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
  }
}
.testimonials .row .swiper .swiper-wrapper .swiper-slide .card .card-footer {
  position: absolute;
  top: calc(100% - 100px);
  left: 0;
}
.testimonials .row .swiper #prev-testimonial,
.testimonials .row .swiper #next-testimonial {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  height: 50px;
  position: absolute;
  top: 25%;
  transform: translateY(-25%);
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  width: 50px;
  z-index: 5;
}
.testimonials .row .swiper #prev-testimonial:hover,
.testimonials .row .swiper #next-testimonial:hover {
  border-color: #f39189;
}
.testimonials .row .swiper #prev-testimonial:hover .fas,
.testimonials .row .swiper #next-testimonial:hover .fas {
  color: #f39189;
}
.testimonials .row .swiper #prev-testimonial .fas,
.testimonials .row .swiper #next-testimonial .fas {
  transition: all 250ms ease;
  -webkit-transition: all 250ms;
}
.testimonials .row .swiper #prev-testimonial:focus-within, .testimonials .row .swiper #prev-testimonial:focus,
.testimonials .row .swiper #next-testimonial:focus-within,
.testimonials .row .swiper #next-testimonial:focus {
  background: #fff;
  color: #333;
  outline: 1px solid #fff;
}
.testimonials .row .swiper #prev-testimonial {
  left: 1rem;
}
.testimonials .row .swiper #next-testimonial {
  right: 1rem;
}
.testimonials .row .swiper #prev-testimonial[disabled],
.testimonials .row .swiper #next-testimonial[disabled] {
  opacity: 0;
}
.testimonials .row .swiper #prev-testimonial[disabled] .fas,
.testimonials .row .swiper #next-testimonial[disabled] .fas {
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .testimonials .row .swiper #prev-testimonial,
.testimonials .row .swiper #next-testimonial {
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
  }
  .testimonials .row .swiper #prev-testimonial {
    transform: translateX(-10rem);
  }
  .testimonials .row .swiper #next-testimonial {
    transform: translateX(10rem);
  }
  .testimonials .row .swiper:hover #prev-testimonial,
.testimonials .row .swiper:hover #next-testimonial {
    transform: translateX(0);
  }
}

.card-date {
  padding-left: 1rem;
}

img.testimonial-image {
  cursor: pointer;
  display: block;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  position: relative;
  opacity: 1;
  transition: transform 500ms ease;
  -webkit-transition: transform 500ms ease;
  -moz-transition: transform 500ms ease;
  z-index: 2;
}

@keyframes visible {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
/******************
*****Contact Page**
*******************/
section.contact-us {
  font-size: 1.11em;
}
section.contact-us h1, section.contact-us h2, section.contact-us h3, section.contact-us h4, section.contact-us h5, section.contact-us h6 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;
}
section.contact-us header p {
  font-size: 1em;
  padding: 0;
  text-align: left;
}
section.contact-us .row {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  max-width: 1366px;
  width: 100%;
}
section.contact-us .row .col {
  flex: 0 0 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
}
section.contact-us .row .col .card {
  margin: auto;
  position: relative;
}
section.contact-us .row .col .card h3 {
  margin: 0.5em auto;
  text-align: left;
}
section.contact-us .row .col .card::after {
  background: #333;
  bottom: 0px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
section.contact-us .row .col .card a {
  display: block;
}
section.contact-us .row .main-form {
  margin: auto;
  width: 100%;
}
section.contact-us .row .main-form .form-control {
  display: flex;
  flex-wrap: wrap;
}
section.contact-us .row .main-form .form-control label,
section.contact-us .row .main-form .form-control input,
section.contact-us .row .main-form .form-control textarea {
  flex: 0 0 100%;
  transition: outline 250ms ease;
  -webkit-transition: outline 250ms ease;
}
section.contact-us .row .main-form .form-control label:focus, section.contact-us .row .main-form .form-control label:focus-within,
section.contact-us .row .main-form .form-control input:focus,
section.contact-us .row .main-form .form-control input:focus-within,
section.contact-us .row .main-form .form-control textarea:focus,
section.contact-us .row .main-form .form-control textarea:focus-within {
  outline: 2px red dotted;
}
section.contact-us .row .main-form .form-control .cta-btn {
  color: #fff;
  flex: 1 1 100%;
  padding: 1em 1.5em;
}
section.contact-us .row .main-form .form-control small {
  animation: visible 500ms linear forwards;
  color: red;
  display: block;
  flex: 0 0 100%;
  opacity: 0;
  min-height: 25px;
  visibility: hidden;
  transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
}
section.contact-us ul li {
  padding: 0;
}
section.contact-us a {
  padding-left: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
section.contact-us i {
  margin-right: 0.33em;
}

@media screen and (min-width: 968px) {
  section.contact-us .row {
    flex-direction: row;
  }
  section.contact-us .row .col {
    flex: 1 1 100%;
    margin: 0 2rem;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
section.faq button {
  border: none;
  transition: color 250ms ease;
  -webkit-transition: color 250ms ease;
  width: 100%;
}
section.faq button i.fa-plus,
section.faq button i.fa-minus {
  animation: fadeIn 250ms linear forwards 150ms;
  opacity: 0;
  transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  margin-right: 1em;
}
section.faq button:hover {
  color: #d68885;
}
section.faq h3 {
  text-align: left;
  width: 100%;
}
section.faq .row {
  width: 100%;
}
section.faq .row .col {
  padding: 1em;
  width: 100%;
}
section.faq .row .col .card {
  background: #ddd;
  height: 100%;
  margin: auto;
  max-width: 60ch;
  width: 100%;
}
section.faq .row .col .card .inner-card .card-content {
  height: 0;
  overflow: hidden;
  transition: all 250ms linear 250ms;
  -webkit-transition: all 250ms linear 250ms;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeToVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header.page-header {
  position: relative;
}

section.for-rent {
  background: #438ba1;
  color: #fff;
  position: relative;
}
section.for-rent h1,
section.for-rent h2,
section.for-rent h3,
section.for-rent h4,
section.for-rent h5,
section.for-rent h6 {
  text-align: center;
}
section.for-rent a.call-now {
  color: #fff;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
}
section.for-rent a.call-now button.cta-btn {
  background: #db8a86;
  color: #fff;
  display: block;
  font-weight: 800;
  height: 80px;
  width: 250px;
}
section.for-rent a.call-now button.cta-btn:hover {
  background: #fff;
  color: #046582;
}
section.for-rent .row {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  max-width: 1366px;
  width: 100%;
}
section.for-rent .row .col {
  padding: 0 1em;
  width: 100%;
}
section.for-rent .row .col h3, section.for-rent .row .col h4, section.for-rent .row .col h5, section.for-rent .row .col h6 {
  margin: auto;
  width: 100%;
}
section.for-rent .row .col span.title {
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 0.33em;
  padding-bottom: 0.33em;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
}
section.for-rent footer p {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}
section.for-rent::before, section.for-rent::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
}
section.for-rent::before {
  top: 0;
  display: none;
}
section.for-rent::after {
  bottom: 0;
}

section.assisted-living {
  background: #046582;
  color: #fff;
}
section.assisted-living ul.fa-ul li {
  padding-top: 0.33em;
  padding-bottom: 0.33em;
}
section.assisted-living a {
  margin: 0;
  padding: 0;
  color: #fff;
  display: block;
  font-weight: initial;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}
section.assisted-living a:hover {
  color: #f3968e;
}

section.images .row .col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 768px;
  text-align: center;
}
section.images .row .col button {
  margin: 1em 1em;
  min-width: 125px;
  padding: 1em 1.5em;
}
section.images .row.interior.exterior {
  margin-top: 0;
  margin-bottom: 0;
}

.lightbox-container {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  height: 100%;
  margin: 0 auto;
  min-width: 100%;
  left: 0;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  width: 100%;
  z-index: 10000;
}
.lightbox-container figure {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.lightbox-container figure button {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 50%;
  color: #fff;
  float: right;
  font-size: 2em;
  height: 75px;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: rem;
  width: 75px;
  z-index: 1002;
}
.lightbox-container figure img.lightbox-full {
  left: 50%;
  max-height: 66vh;
  max-width: 968px;
  min-width: 350px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
  opacity: 0;
  width: 100%;
}
.lightbox-container figure img.lightbox-full.animate {
  animation: fadeToVisible 500ms ease 0.3s forwards;
}

@media screen and (min-width: 768px) {
  section.for-rent .row {
    flex-direction: row;
    max-width: 1200px;
  }
  section.for-rent .row .col {
    flex: 1 1 33%;
    padding-left: 1em;
    padding-right: 1em;
  }

  section.assisted-living header,
section.assisted-living h4 {
    flex: 0 0 100%;
  }
  section.assisted-living .row {
    flex-wrap: wrap;
  }
}
section.images {
  overflow: hidden;
}
section.images::before, section.images::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
}
section.images::before {
  top: 0;
  display: none;
}
section.images::after {
  bottom: 0;
}
section.images h4 {
  font-size: 2em;
}
section.images .row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  padding: 0 1em;
  width: 100%;
}
section.images .row .col {
  flex-direction: row;
  justify-content: center;
}
section.images .row img {
  cursor: zoom-in;
  filter: grayscale(50%);
  flex-basis: 350px;
  height: auto;
  max-height: 225px;
  max-width: 100%;
  margin: 1em auto;
  padding: 0 1em;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  width: 100%;
}
section.images .row img:nth-child(odd).fadeIn {
  animation: fadeInRight 350ms ease-in-out;
  opacity: 1;
}
section.images .row img:nth-child(even).fadeIn {
  animation: fadeInLeft 350ms ease-in-out;
  opacity: 1;
}
section.images .row img:hover {
  filter: grayscale(0);
  transform: scale(1.25);
  z-index: 0;
}

@media screen and (min-width: 768px) {
  section.images .row img {
    max-width: calc(768px / 2);
    flex: 1 1 50%;
  }
}
@media screen and (min-width: 1366px) {
  section.images .row img {
    flex: 1 1 33%;
    height: auto;
    max-width: calc(1366px / 3);
  }
}
@media screen and (min-width: 1920px) {
  section.images .row img {
    flex: 1 1 33%;
    height: auto;
    max-width: calc(1920px / 5);
  }
}
section.sources {
  margin: auto;
  max-width: 60ch;
  text-align: center;
}
section.sources ul {
  margin: 0 auto;
  max-width: 60ch;
  text-align: left;
}

.footer-main {
  background: #046582;
  color: #fff;
  flex-direction: column;
  display: flex;
  padding: 1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer-main {
    background: #046582 url("../images/backgrounds/arborhouse-footer-768x1080.jpeg") no-repeat fixed left center/cover;
  }
}
@media screen and (min-width: 1366px) {
  .footer-main {
    background: #046582 url("../images/backgrounds/arborhouse-footer-1920x1080.jpeg") no-repeat fixed center bottom/cover;
  }
}
.footer-main .row {
  align-items: stretch;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 1rem;
  max-width: 1366px;
  text-align: center;
}
@media screen and (min-width: 968px) {
  .footer-main .row {
    flex-direction: row;
  }
}
.footer-main .row .col {
  flex: 1;
  max-width: 100%;
  padding: 0.25rem 1rem;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .footer-main .row .col {
    max-width: 100%;
  }
}
.footer-main .row .col h4 {
  margin-left: unset;
  margin-right: auto;
  padding-left: 0;
  text-align: left;
  text-decoration: underline;
}
.footer-main .row .col h4.hero-text {
  border-bottom: 1px solid #fff;
  font-size: 2em;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .footer-main .row .col h4.hero-text {
    margin: auto;
  }
}
.footer-main .row .col h4.hidden {
  display: none;
}
.footer-main .row .col address {
  margin: 0 auto;
}
.footer-main .row .col address ul {
  margin: 0 auto;
}
.footer-main .row .col address ul li a {
  color: #e6e6e6;
  font-family: Arial, Helvetica, sans-serif;
  margin: unset;
  padding: unset;
}
.footer-main .row .col .fa-ul {
  margin: 0 auto;
  padding: 0;
}
.footer-main .row .col .fa-ul .menu-social {
  display: inline-block;
  margin: 0 auto;
  padding-right: 4px;
}
.footer-main .row .col .fa-ul .menu-social a {
  color: #e6e6e6;
  padding: 5px;
  margin: 0 auto;
}
.footer-main .row .col nav.footer-nav {
  display: grid;
  padding: 0;
}
.footer-main .row .col nav.footer-nav .footer-nav__control i {
  display: inline;
  margin-right: 5px;
  transition: color 250ms ease;
  -webkit-transition: color 250ms ease;
}
.footer-main .row .col nav.footer-nav .footer-nav__control a {
  color: #e6e6e6;
  display: inline;
  margin: 0;
  padding: 0.5em 1em 0.5em 0;
  transition: padding 250ms ease;
  -webkit-transition: padding 250ms ease;
}
.footer-main .row .col nav.footer-nav .footer-nav__control a:hover {
  padding-left: 1rem;
}
.footer-main .row .col nav.footer-nav .footer-nav__control:hover i {
  color: #bb8082;
}
.footer-main .row .col nav.footer-nav .footer-nav__control:hover a {
  color: #fff;
}
.footer-main .row .col p {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 968px) {
  .footer-main .row .col:not(:first-child) {
    border-left: 1px solid #fff;
  }
}
@media screen and (min-width: 768px) {
  .footer-main .row .col.map {
    flex: 1;
  }
}
@media screen and (min-width: 968px) {
  .footer-main .row .col.map {
    flex: 2;
  }
}
.footer-main .row .col .footer-cta-btn {
  box-shadow: none;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.33rem 1rem;
  text-transform: uppercase;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}
.footer-main .row .col .footer-cta-btn:hover {
  background: #fff;
  color: #046582;
}
.footer-main .row #creator {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}
.footer-main .row:last-child {
  border: 1px solid #fff;
  margin: auto;
  width: 100%;
}
.footer-main::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  top: -5px;
  left: 0;
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.75;
}

html,
body {
  background: #fff;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 1em auto;
}

a,
a:visited {
  color: #6e7582;
  display: inline-block;
  font-weight: 800;
  letter-spacing: 1.5px;
  padding: 0.5em 1em;
  text-decoration: none;
}

a:hover,
a:active {
  color: #bb8082;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 250ms linear;
  -webkit-transition: opacity 250ms linear 250ms;
}

img.fadeIn {
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

p,
span {
  max-width: 75ch;
}

p > a {
  display: inline;
  font-weight: inherit;
  letter-spacing: inherit;
  padding: 0;
}

.preloader {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  z-index: 1000;
}

#siteTitle {
  display: inline-block;
  font-family: Lato;
  flex: 1 1 100%;
  margin: 0 auto -0.5em;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.33);
}

#siteSubtitle {
  color: black;
  text-align: center;
  text-shadow: 2px 2px 2px #fff;
}

.hidden {
  height: 0;
  visibility: hidden;
}

/****************
****Breadcrumbs**
*****************/
aside.breadcrumbs ol.breadcrumbs {
  font-size: 0.75em;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
aside.breadcrumbs ol.breadcrumbs li {
  display: inline-block;
}
aside.breadcrumbs ol.breadcrumbs li.active a {
  font-weight: 800;
  text-decoration: underline;
}
aside.breadcrumbs ol.breadcrumbs li::after {
  content: "/";
  font-weight: 900;
}
aside.breadcrumbs ol.breadcrumbs li:last-child::after {
  display: none;
}

/****************
****Section Pagination**
*****************/
aside.paginate {
  font-size: 0.75rem;
  margin: 0 auto;
  text-align: center;
}
aside.paginate span {
  color: #000;
}

/**************
****Buttons*****
***************/
.cta-btn {
  background: transparent;
  border: 1px solid #046582;
  border-radius: 15px;
  box-shadow: 2px 2px 20px -10px rgba(255, 255, 255, 0.75);
  color: #046582;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease-in-out;
}
.cta-btn:hover {
  background: #046582;
  color: #fff;
}

.cta-btn > a {
  color: #046582;
}
.cta-btn > a:hover {
  color: #fff;
}

/**************
****Header*****
***************/
header.header-main {
  align-items: center;
  background: #fff;
  background-image: url("../images/nurse-senior-walker-mobile.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 75vh;
  justify-content: center;
}
header.header-main .col {
  align-items: center;
  color: #000;
  flex: 1 1 100%;
  flex-direction: column;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  transition: background 150ms linear;
  -webkit-transition: background 150ms linear;
}
header.header-main .col h1 {
  font-family: "Satisfy", cursive;
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 5px;
  opacity: 0;
  text-align: center;
  text-decoration: underline;
  text-transform: initial;
  transform: translateY(-50%);
  transition: all 250ms linear 1s;
  -webkit-transition: all 250 linear 1s;
}
header.header-main .col p {
  color: #046582;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  opacity: 0;
  transform: translateY(50%);
  transition: all 250ms linear 1.25s;
  -webkit-transition: all 250ms linear 1.25s;
}
header.header-main .col ul {
  color: #333;
  margin: 0 auto;
  overflow: hidden;
}
header.header-main .col ul li {
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  padding: 0rem 1.5rem;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms ease 1.5s;
  -webkit-transition: all 500ms ease 1.5s;
}
header.header-main .col .cta-btn {
  background: #046582;
  color: #fff;
  opacity: 0;
}
header.header-main .col .cta-btn a {
  color: #fff;
}
header.header-main .col .cta-btn:hover {
  background: #fff;
  color: #046582;
}
header.header-main .col .cta-btn:hover a {
  color: #046582 !important;
}
header.header-main:hover > .col {
  background: rgba(0, 0, 0, 0);
  color: #000;
}
header.header-main:hover > .col ul {
  background: rgba(255, 255, 255, 0);
}

header.page-header h1 {
  text-align: center;
}

/********************
**Mobile Navigation**
*********************/
.navbar-main {
  border-bottom: 1px solid rgba(0, 0, 0, 0.33);
  height: 100px;
}
.navbar-main .navbar-main__container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.navbar-main .navbar-main__container .col {
  text-align: center;
  width: 50%;
}
.navbar-main .navbar-main__container .col .desktop-nav {
  display: none;
}
.navbar-main .navbar-main__container .col a {
  display: inline-block;
  font-weight: 700;
  position: relative;
  text-decoration: none;
}
.navbar-main .navbar-main__container .col .hamburger-container {
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 1.5rem;
  padding: 0.75em;
  position: absolute;
  right: 0em;
  text-align: initial;
  top: 0.66em;
  z-index: 10000;
}
.navbar-main .navbar-main__container .col .hamburger-container span.hamburger {
  background: #333;
  border-radius: 10px;
  display: inline-block;
  height: 7px;
  position: relative;
  transition: all 250ms ease;
  -webkit-transition: all 250ms;
  width: 33px;
}
.navbar-main .navbar-main__container .col .hamburger-container span.hamburger::before, .navbar-main .navbar-main__container .col .hamburger-container span.hamburger::after {
  background: #333;
  border-radius: 10px;
  content: "";
  display: inline-block;
  height: 7px;
  position: absolute;
  transition: all 250ms ease;
  -webkit-transition: all 250ms;
  width: 33px;
}
.navbar-main .navbar-main__container .col .hamburger-container span.hamburger::before {
  top: -10px;
}
.navbar-main .navbar-main__container .col .hamburger-container span.hamburger::after {
  bottom: -10px;
}
.navbar-main .navbar-main__container .col .hamburger-container span.active {
  background: rgba(0, 0, 0, 0);
  margin: auto;
}
.navbar-main .navbar-main__container .col .hamburger-container span.active::before {
  background: #046582;
  bottom: 10px;
  transform: rotateZ(-45deg) translateY(0);
  top: 0;
}
.navbar-main .navbar-main__container .col .hamburger-container span.active::after {
  bottom: 10px;
  color: #046582;
  top: 0;
  transform: rotateZ(45deg) translateY(0);
}
.navbar-main .desktop-nav > a {
  padding-left: 0;
  padding-right: 1em;
  position: relative;
}
.navbar-main .desktop-nav > a + ul.sub-menu {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
}
.navbar-main .desktop-nav > a + ul.sub-menu a {
  display: inline;
}
.navbar-main .desktop-nav > a.active {
  text-decoration: indigo 2px solid;
}
.navbar-main nav {
  background: #fff;
  height: 100%;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 0 40px 0;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  width: calc(100% - 100px);
  z-index: 2;
}
.navbar-main nav address > ul > li {
  justify-content: flex-start;
  text-align: left;
}
.navbar-main nav address > ul > li > a {
  display: inline;
  flex: initial;
  padding: 0;
}
.navbar-main nav .navbar-main__menu-title {
  display: inline-block;
  font-weight: 700;
  margin-left: 10vw;
  padding-bottom: 0;
  padding-left: 1.5em;
  padding-top: 1em;
  padding-right: 20vw;
  position: relative;
  text-align: left;
  width: 100%;
}
.navbar-main nav .navbar-main__menu-title::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  border-radius: 10px;
  content: "";
  display: block;
  height: 2px;
  margin: 1em auto;
  width: 100%;
}
.navbar-main nav ul {
  display: block;
  list-style-position: inside;
  margin: 0em auto 0;
  text-align: left;
  width: calc(100% * 0.75);
}
.navbar-main nav ul li {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  text-align: left;
  width: auto;
}
.navbar-main nav ul li a {
  flex: 1 1 100%;
  padding: 1em 1.5em;
}
.navbar-main nav ul li span.fa-li {
  color: #f39189;
  flex: 1 1 100%;
  padding-left: 1em;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}
.navbar-main nav ul li:hover > span.fa-li {
  color: #6e7582;
  padding-left: 2em;
}
.navbar-main nav ul li.menu-social {
  display: inline-block;
  margin: 0 0.5em;
  width: initial;
}
.navbar-main nav ul li.menu-social i {
  color: #046582;
  transition: color 250ms ease;
}
.navbar-main nav ul li.menu-social i:hover {
  color: #6e7582;
}
.navbar-main nav ul li.menu-social a {
  display: initial;
  padding: initial;
}
.navbar-main nav ul.sub-menu {
  height: 0;
  margin-top: 0;
  font-size: 1em;
  overflow: hidden;
  transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  transform-origin: top;
}
.navbar-main nav ul.sub-menu.active {
  height: 100%;
  max-height: 400px;
}
.navbar-main nav ul.sub-menu li {
  width: 100%;
}
.navbar-main nav ul.sub-menu li a {
  font-size: 1em;
  padding: 1em 0.25em;
}
.navbar-main nav.active {
  border-right: 1px solid #6e7582;
  box-shadow: 2px 2px 20px -10px rgba(0, 0, 0, 0.33);
  position: absolute;
  transform: translateX(0%);
  transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
}

/***********
**Sections & Services**
************/
section.services .services-header {
  align-items: center;
  background: #046582;
  color: #fff;
  display: grid;
  min-height: 50vh;
  position: relative;
  text-align: center;
}
section.services .services-header::before, section.services .services-header::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  width: 100%;
}
section.services .services-header::before {
  top: 0px;
}
section.services .services-header::after {
  bottom: 0;
}
section.services .services-header .row .col p {
  margin: 1rem auto;
  max-width: 60ch;
  padding: 1em;
  text-align: left;
}
section.services .row {
  width: 100%;
}
section.services .row h1,
section.services .row h2,
section.services .row h3,
section.services .row h4,
section.services .row h5,
section.services .row h6 {
  text-align: center;
}
section.services .row .col {
  margin: 1rem auto;
  width: 100%;
}
section.services .row .col .card {
  background: #fff;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.33);
  margin: auto;
  width: 90%;
}
section.services .row .col .card:first {
  margin-top: 0;
}
section.services .row .col .card .inner-card {
  padding: 1rem 0;
  width: 100%;
}
section.services .row .col .card .inner-card h1,
section.services .row .col .card .inner-card h2,
section.services .row .col .card .inner-card h3,
section.services .row .col .card .inner-card h4,
section.services .row .col .card .inner-card h5,
section.services .row .col .card .inner-card h6 {
  margin-bottom: 2em;
  text-align: center;
}
section.services .row .col .card .inner-card h1,
section.services .row .col .card .inner-card h2,
section.services .row .col .card .inner-card h3,
section.services .row .col .card .inner-card h4,
section.services .row .col .card .inner-card h5,
section.services .row .col .card .inner-card h6 {
  font-size: 1.25em;
  position: relative;
  text-transform: uppercase;
}
section.services .row .col .card .inner-card h1::after,
section.services .row .col .card .inner-card h2::after,
section.services .row .col .card .inner-card h3::after,
section.services .row .col .card .inner-card h4::after,
section.services .row .col .card .inner-card h5::after,
section.services .row .col .card .inner-card h6::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  margin: 0 auto;
  max-width: 80px;
  position: absolute;
  transform: translateX(-50%);
  width: 50%;
}
section.services .row .col .card .inner-card h1::after,
section.services .row .col .card .inner-card h2::after,
section.services .row .col .card .inner-card h3::after,
section.services .row .col .card .inner-card h4::after,
section.services .row .col .card .inner-card h5::after,
section.services .row .col .card .inner-card h6::after {
  bottom: -5px;
  margin: 0 auto;
}
section.services .row .col .card .inner-card .card-content {
  color: #000;
  font-size: 14px;
  margin: 0 auto;
  max-width: 60ch;
  padding: 1rem;
}
section.services .row .col .card .inner-card .card-content + .cta-btn {
  display: block;
  margin: 1rem auto;
}
section.services .row .col .card .inner-card .card-content + .cta-btn a i {
  margin-right: 1rem;
}
section.services .row .col .card .inner-card img.icon {
  border: 10px solid #e6e6e6;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  transition: border-color 400ms ease;
  -webkit-transition: border-color 400ms ease;
  width: auto;
}
section.services.about .services-header {
  background: rgba(4, 101, 130, 0.75);
  min-height: 50vh;
}
section.services.about .services-header .row .col p {
  letter-spacing: 1px;
}
section.services.about .services-header .row .col p a {
  color: #fff;
  padding: 0 0;
  text-decoration: underline;
}
section.services.about .row .col .card {
  display: block;
  margin: 0 auto;
  width: 90%;
}
section.services.about .row .col .card .inner-card {
  width: 100%;
}
section.services.about .row .col .card .inner-card h3 {
  margin: 0 auto;
  max-width: 100%;
  padding: 1rem;
  text-align: left;
  text-transform: initial;
}
section.services.about .row .col .card .inner-card .card-content {
  font-size: 1em;
  max-width: 60ch;
  padding: 1rem;
}
section.services.about.testimonials .services-header {
  background: rgba(4, 101, 130, 0.5);
  min-height: 25vh;
  margin-bottom: 2rem;
}
section.services.about.testimonials .row .col {
  margin: 2rem auto;
}
section.services.about.testimonials .row .col .card {
  position: relative;
}
section.services.about.testimonials .row .col .card i {
  color: #046582;
  position: absolute;
  top: calc(-56px / 2);
  right: calc(-32px / 2);
}
section.services.about.testimonials .row .col .card .inner-card .card-content {
  padding: 1rem;
}
section.services.about.testimonials.contact .services-header {
  min-height: 33vh;
}
section.services.about.testimonials.contact .row {
  align-items: initial;
}
section.services.about.testimonials.contact .row .col .card {
  height: 100%;
}
section.services.about.testimonials.contact .row .col .card .inner-card h3 {
  text-align: center;
}
section.services.about.testimonials.contact .row .col .card .inner-card .main-form {
  display: block;
  width: 100%;
}
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 350px;
  width: 100%;
}
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control label,
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control input,
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control textarea {
  flex: 0 1 250px;
  margin: 1rem auto 0;
  transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
}
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control input,
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control textarea {
  background: #e6e6e6;
  border: none;
  font-weight: 700;
  line-height: 1.75;
}
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control input:focus-within,
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control textarea:focus-within {
  outline: 2px dotted rgba(4, 101, 130, 0.75);
}
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control button {
  background: #046582;
  color: #fff;
  margin: 1rem auto;
  max-width: 175px;
  padding: 0.5rem 1rem;
  width: 33%;
}
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control button:hover {
  background: #fff;
  color: #046582;
}

/***********************
**Special Services Tab**
************************/
section.special-services {
  background: #fff;
  padding: 1rem;
}
section.special-services .row {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
section.special-services .row .col {
  flex: 1 1 100%;
  padding-left: 1rem;
}
section.special-services .row .col ul {
  margin: 1em auto;
  padding: 0;
}
section.special-services .row .col ul li {
  padding: 0.25rem 1rem;
  overflow-wrap: break-word;
}
section.special-services .row .col ul li span {
  margin-right: 1rem;
}
section.special-services .row .col p {
  font-weight: 500;
  margin: 3rem auto 0;
}
section.special-services .row .col h1,
section.special-services .row .col h2,
section.special-services .row .col h3,
section.special-services .row .col h4,
section.special-services .row .col h5,
section.special-services .row .col h6 {
  font-size: 1.25em;
  position: relative;
  text-transform: uppercase;
}
section.special-services .row .col h1::after,
section.special-services .row .col h2::after,
section.special-services .row .col h3::after,
section.special-services .row .col h4::after,
section.special-services .row .col h5::after,
section.special-services .row .col h6::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  margin: 0 auto;
  max-width: 80px;
  position: absolute;
  transform: translateX(-50%);
  width: 50%;
}
section.special-services .row .col h1::after,
section.special-services .row .col h2::after,
section.special-services .row .col h3::after,
section.special-services .row .col h4::after,
section.special-services .row .col h5::after,
section.special-services .row .col h6::after {
  bottom: -5px;
  margin: 0 auto;
}
section.special-services .row .col h3 {
  text-align: center;
}

/***************
**List Section**
****************/
section.list {
  align-items: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-content: center;
  margin: auto;
  max-width: 1366px;
  padding: 1em 1em 2em 1em;
  position: relative;
  text-align: center;
  width: 100%;
}
section.list .card {
  background: #fff;
  height: 100%;
  margin: 1em auto;
  padding: 1em;
  width: 100%;
}
section.list::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}
section.list .cta-link {
  display: block;
  margin: auto;
}
section.list .cta-btn {
  color: #fff;
  display: block;
  margin: auto;
  padding: 1.25em 1.5em;
}
section.list .cta-btn:hover {
  color: #046582;
}
section.list .card-icon {
  align-items: center;
  border: 10px solid #e6e6e6;
  border-radius: 50%;
  color: #f39189;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: auto;
  text-align: center;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  width: 100px;
}
section.list .card-icon:hover {
  border-color: #046582;
}
section.list p.card-content {
  text-align: left;
}

/*****************
****Video Section****
******************/
section.video {
  margin: 2em auto;
  max-width: 1024px;
  width: 100%;
}
section.video .card {
  display: block;
  width: 100%;
}
section.video .card .inner-card {
  width: 100%;
}

@media screen and (min-width: 768px) {
  header.header-main {
    background-image: url("../images/nurse-senior-walker-tablet.jpg");
  }

  .navbar-main .col:nth-child(1) {
    flex: 1 1 33%;
  }
  .navbar-main .col:nth-child(2) {
    flex: 2 2 66%;
  }
  .navbar-main .col:nth-child(2) .desktop-nav {
    width: 100%;
  }

  .navbar-main nav.active {
    transform: translateX(-5%);
  }

  section.services header.services-header {
    min-height: 50vh;
  }
  section.services .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  section.services .row .col {
    width: 45%;
  }
  section.services .row .col.header-col {
    width: 100%;
    max-width: 968px;
  }
  section.services.about .services-header {
    min-height: 33vh;
  }
  section.services.about .row .col {
    width: 100%;
  }
  section.services.about .row .col .card .inner-card {
    display: flex;
    flex-direction: row;
  }
  section.services.about .row .col .card h3 {
    font-size: 2em;
  }
  section.services.about .row .col .card h3::after {
    display: none;
  }
  section.services.about .row .col .card .card-content {
    text-indent: 4ch;
  }
  section.services.about .row .col .card h3,
section.services.about .row .col .card .card-content {
    flex: 1 1 100%;
  }
  section.services.about.testimonials .services-header {
    height: 50%;
  }
  section.services.about.testimonials .row .col {
    flex: 1 1 50%;
  }
  section.services.about.testimonials .row .col .card .inner-card {
    flex-direction: column;
  }
  section.services.about.testimonials.contact .row {
    align-items: initial;
  }
  section.services.about.testimonials.contact .row .col {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1 1 100%;
  }
  section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control {
    margin: 0 auto;
    max-width: calc(100% * 0.66);
  }
  section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control label,
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control input,
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control textarea {
    flex: 0 0 100%;
  }
  section.services.about.testimonials.contact .row .col:nth-child(2) {
    min-height: 400px;
  }

  /****************************
  **Special Services Sections**
  *****************************/
  section.special-services .row {
    flex-direction: row;
  }
  section.special-services .row .col ul li a {
    display: inline;
  }
  section.special-services .row .col ul li:nth-child(even) {
    background: #396c81;
    color: #fff;
  }
}
@media screen and (min-width: 1024px) {
  #siteTitle,
#siteSubtitle {
    margin-top: 0;
    margin-bottom: -0.25em;
    margin-left: 1rem;
    margin-right: 0;
    padding: 0;
    text-align: left;
  }

  #siteTitle {
    font-size: 3.5rem;
  }

  #siteSubtitle {
    font-size: 3rem;
  }

  #siteSubtitle + button.cta-btn {
    margin-left: 0.5em;
    margin-right: auto;
    max-width: 275px;
    width: 100%;
  }

  #headerServices {
    padding-left: 1.75rem;
    font-size: 2rem;
  }
  #headerServices li.service {
    background: transparent;
    color: black;
    position: relative;
    text-transform: capitalize;
    transition-duration: 750ms;
  }

  header.header-main {
    background: linear-gradient(0.25turn, rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0.33)), url("../images/nurse-senior-walker-1024.jpg");
    flex-direction: row;
    height: calc(100% - 100px);
    padding: 0 3rem;
  }
  header.header-main .col {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header.header-main .col h1,
header.header-main .col p {
    flex: 0 0 100%;
    text-align: center;
    width: 100%;
  }

  .navbar-main .mobile-nav {
    display: none;
  }
  .navbar-main .navbar-main__container {
    background: #fff;
  }
  .navbar-main .navbar-main__container .col .hamburger-container {
    display: none;
    z-index: -100000;
  }
  .navbar-main .navbar-main__container .col .desktop-nav {
    display: block;
    max-height: 100px;
    min-height: unset;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    transform: translateX(0);
  }

  section.services.about .row .col {
    max-width: 768px;
  }
  section.services.about.testimonials .row {
    justify-content: center;
  }
  section.services.about.testimonials .row .col {
    flex: 0 0 25%;
  }
  section.services.about.testimonials .row .col .card.testimonial .inner-card h3 {
    font-size: 1.25rem;
  }
  section.services.about.testimonials.contact .row {
    padding: 0;
  }
  section.services.about.testimonials.contact .row .col {
    flex: 1 1 40%;
  }

  /****************************
  **Special Services Sections**
  *****************************/
  section.special-services .row {
    flex-direction: row;
    margin: 0 auto;
    max-width: 968px;
  }
  section.special-services .row .col ul li a {
    display: inline;
  }
  section.special-services .row .col ul li:nth-child(even) {
    background: #396c81;
    color: #fff;
  }
}
/***************
**List Section**
****************/
section.list .cta-btn {
  color: #046582;
}
section.list .cta-btn:hover {
  color: #fff;
}

@media screen and (min-width: 1365px) {
  header.header-main {
    max-height: 75vh;
    background-image: url("../images/nurse-senior-walker-1365.jpg");
  }
  header.header-main .col {
    max-width: 33%;
  }

  section.services header.services-header {
    min-height: 50vh;
  }
  section.services .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  section.services .row .col {
    width: 25%;
  }
  section.services .row .col.header-col {
    width: 75ch;
  }
  section.services.about .fixed-background {
    align-items: center;
    background: url("../images/child-elderly-parent-1365.jpg") no-repeat fixed center center/cover;
    height: 100%;
  }
  section.services.about .fixed-background .col {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  section.services.about .fixed-background .card {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    color: #fff;
  }
  section.services.about .fixed-background .card .inner-card .card-content {
    color: #fff;
  }
  section.services.about.testimonials .row {
    align-items: center;
  }
  section.services.about.testimonials .row .col {
    padding: 1rem;
  }
}
@media screen and (min-width: 1920px) {
  header.header-main {
    background: linear-gradient(0.25turn, rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0.33)), url("../images/nurse-senior-walker-1920.jpg") no-repeat fixed center center;
    height: 75vh;
  }

  #siteSubtitle + button.cta-btn {
    margin: unset;
    margin-top: 0.5rem;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0.25rem;
    padding: 0.25rem 1rem;
    max-width: 500px;
    width: 100%;
  }
  #siteSubtitle + button.cta-btn:hover {
    color: #fff;
  }
  #siteSubtitle + button.cta-btn:hover a {
    color: #fff;
  }
}

/*# sourceMappingURL=main.css.map */
