@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap&text=ARBORHUSE");
/******************
**Content Section**
*******************/
h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  max-width: 60ch;
  padding: 1rem;
}

#content > .cta-btn {
  display: block;
}

figure {
  margin: auto;
}
figure img {
  display: block;
  margin: auto;
}
figure figcaption {
  display: block;
  margin: auto;
  max-width: 60ch;
  padding: 1rem;
}

p {
  font-size: 1.33em;
  margin: auto;
  max-width: 60ch;
  padding: 1em;
}
p a {
  margin: 0;
  padding: 0;
  display: inline;
}
p img {
  margin: 1rem auto;
  max-width: 499px;
  padding: 1rem;
  opacity: 1;
  width: 100%;
}
p img[src$="#img-floatRight"] {
  float: right;
}
p img[src$="#img-floatLeft"] {
  float: left;
}

.cta-btn {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: block;
  margin: 1rem auto;
}

/***********
**Layouts**
***********/
div#content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}
div#content section {
  flex: 0 0 100%;
}
div#content section.video {
  margin-top: 1rem;
}
div#content aside {
  flex: 0 0 100%;
}
div#content aside .card {
  background: #fff;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
}

section#main p {
  max-width: 60ch;
}
section#main p + ul {
  max-width: 60ch;
}
section#main p + ul li {
  font-weight: 600;
}
section#main p + ul li a {
  padding: 0;
}
section#main p + ul li ul li {
  font-weight: 500;
}

footer.footer-main p {
  font-size: 0.9em;
  max-width: initial;
}

@media screen and (min-width: 1365px) {
  div#content aside {
    flex: 0 0 100%;
  }

  section.video .card {
    margin: 0 auto;
    max-width: 968px;
  }
}
@keyframes visible {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
/******************
*****Contact Page**
*******************/
section.contact-us {
  font-size: 1.11em;
}
section.contact-us h1, section.contact-us h2, section.contact-us h3, section.contact-us h4, section.contact-us h5, section.contact-us h6 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;
}
section.contact-us header p {
  font-size: 1em;
  padding: 0;
  text-align: left;
}
section.contact-us .row {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  max-width: 1366px;
  width: 100%;
}
section.contact-us .row .col {
  flex: 0 0 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
}
section.contact-us .row .col .card {
  margin: auto;
  position: relative;
}
section.contact-us .row .col .card h3 {
  margin: 0.5em auto;
  text-align: left;
}
section.contact-us .row .col .card::after {
  background: #333;
  bottom: 0px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
section.contact-us .row .col .card a {
  display: block;
}
section.contact-us .row .main-form {
  margin: auto;
  width: 100%;
}
section.contact-us .row .main-form .form-control {
  display: flex;
  flex-wrap: wrap;
}
section.contact-us .row .main-form .form-control label,
section.contact-us .row .main-form .form-control input,
section.contact-us .row .main-form .form-control textarea {
  flex: 0 0 100%;
  transition: outline 250ms ease;
  -webkit-transition: outline 250ms ease;
}
section.contact-us .row .main-form .form-control label:focus, section.contact-us .row .main-form .form-control label:focus-within,
section.contact-us .row .main-form .form-control input:focus,
section.contact-us .row .main-form .form-control input:focus-within,
section.contact-us .row .main-form .form-control textarea:focus,
section.contact-us .row .main-form .form-control textarea:focus-within {
  outline: 2px red dotted;
}
section.contact-us .row .main-form .form-control .cta-btn {
  color: #fff;
  flex: 1 1 100%;
  padding: 1em 1.5em;
}
section.contact-us .row .main-form .form-control small {
  animation: visible 500ms linear forwards;
  color: red;
  display: block;
  flex: 0 0 100%;
  opacity: 0;
  min-height: 25px;
  visibility: hidden;
  transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
}
section.contact-us ul li {
  padding: 0;
}
section.contact-us a {
  padding-left: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
section.contact-us i {
  margin-right: 0.33em;
}

@media screen and (min-width: 968px) {
  section.contact-us .row {
    flex-direction: row;
  }
  section.contact-us .row .col {
    flex: 1 1 100%;
    margin: 0 2rem;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
section.faq button {
  border: none;
  transition: color 250ms ease;
  -webkit-transition: color 250ms ease;
  width: 100%;
}
section.faq button i.fa-plus,
section.faq button i.fa-minus {
  animation: fadeIn 250ms linear forwards 150ms;
  opacity: 0;
  transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  margin-right: 1em;
}
section.faq button:hover {
  color: #d68885;
}
section.faq h3 {
  text-align: left;
  width: 100%;
}
section.faq .row {
  width: 100%;
}
section.faq .row .col {
  padding: 1em;
  width: 100%;
}
section.faq .row .col .card {
  background: #ddd;
  height: 100%;
  margin: auto;
  max-width: 60ch;
  width: 100%;
}
section.faq .row .col .card .inner-card .card-content {
  height: 0;
  overflow: hidden;
  transition: all 250ms linear 250ms;
  -webkit-transition: all 250ms linear 250ms;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
header.page-header {
  position: relative;
}

section.for-rent {
  background: #438ba1;
  color: #fff;
  position: relative;
}
section.for-rent h1,
section.for-rent h2,
section.for-rent h3,
section.for-rent h4,
section.for-rent h5,
section.for-rent h6 {
  text-align: center;
}
section.for-rent a.call-now {
  color: #fff;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
}
section.for-rent a.call-now button.cta-btn {
  background: #db8a86;
  color: #fff;
  display: block;
  font-weight: 800;
  height: 80px;
  width: 250px;
}
section.for-rent a.call-now button.cta-btn:hover {
  background: #fff;
  color: #046582;
}
section.for-rent .row {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  max-width: 1366px;
  width: 100%;
}
section.for-rent .row .col {
  padding: 0 1em;
  width: 100%;
}
section.for-rent .row .col h3, section.for-rent .row .col h4, section.for-rent .row .col h5, section.for-rent .row .col h6 {
  margin: auto;
  width: 100%;
}
section.for-rent .row .col span.title {
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 0.33em;
  padding-bottom: 0.33em;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
}
section.for-rent footer p {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}
section.for-rent::before, section.for-rent::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
}
section.for-rent::before {
  top: 0;
  display: none;
}
section.for-rent::after {
  bottom: 0;
}

section.assisted-living {
  background: #046582;
  color: #fff;
}
section.assisted-living ul.fa-ul li {
  padding-top: 0.33em;
  padding-bottom: 0.33em;
}
section.assisted-living a {
  margin: 0;
  padding: 0;
  color: #fff;
  display: block;
  font-weight: initial;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}
section.assisted-living a:hover {
  color: #f3968e;
}

section.images .row .col {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  text-align: center;
}
section.images .row .col button {
  margin: 1em 1em;
  padding: 1em 1.5em;
}
section.images .row.interior.exterior {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  section.for-rent .row {
    flex-direction: row;
    max-width: 1200px;
  }
  section.for-rent .row .col {
    flex: 1 1 33%;
    padding-left: 1em;
    padding-right: 1em;
  }

  section.assisted-living header,
section.assisted-living h4 {
    flex: 0 0 100%;
  }
  section.assisted-living .row {
    flex-wrap: wrap;
  }
}
section.images {
  overflow: hidden;
}
section.images::before, section.images::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
}
section.images::before {
  top: 0;
  display: none;
}
section.images::after {
  bottom: 0;
}
section.images h4 {
  font-size: 2em;
}
section.images .row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
  padding: 0 1em;
  width: 100%;
}
section.images .row .col {
  flex-direction: row;
  justify-content: center;
}
section.images .row img {
  cursor: zoom-in;
  filter: grayscale(50%);
  flex: 1 1 250px;
  height: auto;
  max-height: 225px;
  max-width: 100%;
  margin: 1em auto;
  padding: 0 1em;
  object-fit: cover;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
section.images .row img:nth-child(odd).fadeIn {
  animation: fadeInRight 350ms ease-in-out;
  opacity: 1;
}
section.images .row img:nth-child(even).fadeIn {
  animation: fadeInLeft 350ms ease-in-out;
  opacity: 1;
}
section.images .row img:hover {
  filter: grayscale(0);
  transform: scale(1.25);
  z-index: 1000000;
}

@media screen and (min-width: 1366px) {
  section.images .row img {
    flex: 1 1 33%;
    height: auto;
  }
}
section.sources {
  margin: auto;
  max-width: 60ch;
  text-align: center;
}
section.sources ul {
  margin: 0 auto;
  max-width: 60ch;
  text-align: left;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.75;
}

html,
body {
  background: #fff;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 1em auto;
}

a,
a:visited {
  color: #6e7582;
  display: inline-block;
  font-weight: 800;
  letter-spacing: 1.5px;
  padding: 1em 1.5em;
  text-decoration: none;
}

a:hover,
a:active {
  color: #bb8082;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 250ms linear;
  -webkit-transition: opacity 250ms linear 250ms;
}

img.fadeIn {
  opacity: 1;
}

img.footer-logo {
  display: block;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

p,
span {
  max-width: 75ch;
}

p > a {
  display: inline;
  font-weight: inherit;
  letter-spacing: inherit;
  padding: 0;
}

.preloader {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  z-index: 1000;
}

#siteTitle {
  display: inline-block;
  font-family: Lato;
  flex: 1 1 100%;
  margin: 0 auto -0.5em;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.33);
}

#siteSubtitle {
  color: black;
  text-align: center;
  text-shadow: 2px 2px 2px #fff;
}

.hidden {
  height: 0;
  visibility: hidden;
}

/****************
****Breadcrumbs**
*****************/
aside.breadcrumbs ol.breadcrumbs {
  font-size: 0.75em;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
aside.breadcrumbs ol.breadcrumbs li {
  display: inline-block;
}
aside.breadcrumbs ol.breadcrumbs li.active a {
  font-weight: 800;
  text-decoration: underline;
}
aside.breadcrumbs ol.breadcrumbs li::after {
  content: "/";
  font-weight: 900;
}
aside.breadcrumbs ol.breadcrumbs li:last-child::after {
  display: none;
}

/****************
****Section Pagination**
*****************/
aside.paginate {
  font-size: 0.75rem;
  margin: 0 auto;
  text-align: center;
}
aside.paginate span {
  color: #000;
}

/**************
****Buttons*****
***************/
.cta-btn {
  background: #046582;
  border: none;
  box-shadow: 2px 2px 20px -10px rgba(255, 255, 255, 0.75);
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease-in-out;
}
.cta-btn:hover {
  background: #f39189;
}
.cta-btn:hover::before, .cta-btn:hover::after {
  opacity: 1;
  left: 175%;
  transform: skew(15deg);
  transition: left 450ms ease;
  -webkit-transition: left 450ms ease;
}
.cta-btn::before, .cta-btn::after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  left: -175%;
  opacity: 0;
  position: absolute;
  transform: skew(-35deg);
  transition: left 250ms ease-in-out;
  -webkit-transition: left 250ms ease-in-out;
  top: 0;
}
.cta-btn::before {
  filter: blur(20px);
  transform: skew(-45deg);
  width: 100px;
}
.cta-btn::after {
  filter: blur(30px);
  transform: skew(-55deg);
  width: 125px;
}

.cta-btn > a {
  color: #fff;
}
.cta-btn > a:hover {
  color: #046582;
}

/**************
****Header*****
***************/
header.header-main {
  align-items: center;
  background: #fff;
  background-image: url("../images/nurse-senior-walker-mobile.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
}
header.header-main .col {
  align-items: center;
  color: #000;
  flex: 1 1 100%;
  flex-direction: column;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  transition: background 150ms linear;
  -webkit-transition: background 150ms linear;
}
header.header-main .col h1 {
  font-family: "Satisfy", cursive;
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 5px;
  opacity: 0;
  text-align: center;
  text-decoration: underline;
  text-transform: initial;
  transform: translateY(-50%);
  transition: all 250ms linear 1s;
  -webkit-transition: all 250 linear 1s;
}
header.header-main .col p {
  color: #046582;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  opacity: 0;
  transform: translateY(50%);
  transition: all 250ms linear 1.25s;
  -webkit-transition: all 250ms linear 1.25s;
}
header.header-main .col ul {
  color: #333;
  margin: 0 auto;
  overflow: hidden;
}
header.header-main .col ul li {
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  padding: 0rem 1.5rem;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 250ms ease 1.5s;
  -webkit-transition: all 250ms ease 1.5s;
}
header.header-main .col .cta-btn {
  opacity: 0;
}
header.header-main:hover > .col {
  background: rgba(0, 0, 0, 0);
  color: #000;
}
header.header-main:hover > .col ul {
  background: rgba(255, 255, 255, 0);
}

header.page-header h1 {
  text-align: center;
}

/********************
**Mobile Navigation**
*********************/
.navbar-main {
  border-bottom: 1px solid rgba(0, 0, 0, 0.33);
  height: 100px;
}
.navbar-main .navbar-main__container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.navbar-main .navbar-main__container .col {
  text-align: center;
  width: 50%;
}
.navbar-main .navbar-main__container .col .desktop-nav {
  display: none;
}
.navbar-main .navbar-main__container .col a {
  display: inline-block;
  font-weight: 700;
  position: relative;
  text-decoration: none;
}
.navbar-main .navbar-main__container .col .hamburger-container {
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 1.5rem;
  padding: 0.75em;
  position: absolute;
  right: 0em;
  text-align: initial;
  top: 0.66em;
  z-index: 10000;
}
.navbar-main .navbar-main__container .col .hamburger-container span.hamburger {
  background: #333;
  border-radius: 10px;
  display: inline-block;
  height: 7px;
  position: relative;
  transition: all 250ms ease;
  -webkit-transition: all 250ms;
  width: 33px;
}
.navbar-main .navbar-main__container .col .hamburger-container span.hamburger::before, .navbar-main .navbar-main__container .col .hamburger-container span.hamburger::after {
  background: #333;
  border-radius: 10px;
  content: "";
  display: inline-block;
  height: 7px;
  position: absolute;
  transition: all 250ms ease;
  -webkit-transition: all 250ms;
  width: 33px;
}
.navbar-main .navbar-main__container .col .hamburger-container span.hamburger::before {
  top: -10px;
}
.navbar-main .navbar-main__container .col .hamburger-container span.hamburger::after {
  bottom: -10px;
}
.navbar-main .navbar-main__container .col .hamburger-container span.active {
  background: rgba(0, 0, 0, 0);
  margin: auto;
}
.navbar-main .navbar-main__container .col .hamburger-container span.active::before {
  background: #046582;
  bottom: 10px;
  transform: rotateZ(-45deg) translateY(0);
  top: 0;
}
.navbar-main .navbar-main__container .col .hamburger-container span.active::after {
  bottom: 10px;
  color: #046582;
  top: 0;
  transform: rotateZ(45deg) translateY(0);
}
.navbar-main .desktop-nav > a {
  padding-left: 0;
  padding-right: 1em;
  position: relative;
}
.navbar-main .desktop-nav > a + ul.sub-menu {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
}
.navbar-main .desktop-nav > a + ul.sub-menu a {
  display: inline;
}
.navbar-main .desktop-nav > a.active {
  text-decoration: indigo 2px solid;
}
.navbar-main nav {
  background: #fff;
  height: auto;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 0 40px 0;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  width: calc(100% - 100px);
  z-index: 2;
}
.navbar-main nav address > ul > li {
  justify-content: flex-start;
  text-align: left;
}
.navbar-main nav address > ul > li > a {
  display: inline;
  flex: initial;
  padding: 0;
}
.navbar-main nav .navbar-main__menu-title {
  display: inline-block;
  font-weight: 700;
  margin-left: 10vw;
  padding-bottom: 0;
  padding-left: 1.5em;
  padding-top: 1em;
  padding-right: 20vw;
  position: relative;
  text-align: left;
  width: 100%;
}
.navbar-main nav .navbar-main__menu-title::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  border-radius: 10px;
  content: "";
  display: block;
  height: 2px;
  margin: 1em auto;
  width: 100%;
}
.navbar-main nav ul {
  display: block;
  list-style-position: inside;
  margin: 0em auto 0;
  text-align: left;
  width: calc(100% * 0.75);
}
.navbar-main nav ul li {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  text-align: left;
  width: auto;
}
.navbar-main nav ul li a {
  flex: 1 1 100%;
  padding: 1em 1.5em;
}
.navbar-main nav ul li span.fa-li {
  color: #f39189;
  flex: 1 1 100%;
  padding-left: 1em;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}
.navbar-main nav ul li:hover > span.fa-li {
  color: #6e7582;
  padding-left: 2em;
}
.navbar-main nav ul li.menu-social {
  display: inline-block;
  margin: 0 0.5em;
  width: initial;
}
.navbar-main nav ul li.menu-social i {
  color: #046582;
  transition: color 250ms ease;
}
.navbar-main nav ul li.menu-social i:hover {
  color: #6e7582;
}
.navbar-main nav ul li.menu-social a {
  display: initial;
  padding: initial;
}
.navbar-main nav ul.sub-menu {
  height: 0;
  margin-top: 0;
  font-size: 1em;
  overflow: hidden;
  transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  transform-origin: top;
}
.navbar-main nav ul.sub-menu.active {
  height: 100%;
  max-height: 400px;
}
.navbar-main nav ul.sub-menu li {
  width: 100%;
}
.navbar-main nav ul.sub-menu li a {
  font-size: 1em;
  padding: 1em 0.25em;
}
.navbar-main nav.active {
  border-right: 1px solid #6e7582;
  box-shadow: 2px 2px 20px -10px rgba(0, 0, 0, 0.33);
  position: absolute;
  transform: translateX(0%);
  transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
}

/***********
**Sections & Services**
************/
section.services .services-header {
  align-items: center;
  background: #046582;
  color: #fff;
  display: grid;
  min-height: 50vh;
  position: relative;
  text-align: center;
}
section.services .services-header::before, section.services .services-header::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  width: 100%;
}
section.services .services-header::before {
  top: 0px;
}
section.services .services-header::after {
  bottom: 0;
}
section.services .services-header .row .col p {
  margin: 1rem auto;
  max-width: 60ch;
  padding: 1em;
  text-align: left;
}
section.services .row {
  width: 100%;
}
section.services .row h1,
section.services .row h2,
section.services .row h3,
section.services .row h4,
section.services .row h5,
section.services .row h6 {
  text-align: center;
}
section.services .row .col {
  margin: 1rem auto;
  width: 100%;
}
section.services .row .col .card {
  background: #fff;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.33);
  margin: auto;
  width: 90%;
}
section.services .row .col .card:first {
  margin-top: 0;
}
section.services .row .col .card .inner-card {
  padding: 1rem 0;
  width: 100%;
}
section.services .row .col .card .inner-card h1,
section.services .row .col .card .inner-card h2,
section.services .row .col .card .inner-card h3,
section.services .row .col .card .inner-card h4,
section.services .row .col .card .inner-card h5,
section.services .row .col .card .inner-card h6 {
  margin-bottom: 2em;
  text-align: center;
}
section.services .row .col .card .inner-card h1,
section.services .row .col .card .inner-card h2,
section.services .row .col .card .inner-card h3,
section.services .row .col .card .inner-card h4,
section.services .row .col .card .inner-card h5,
section.services .row .col .card .inner-card h6 {
  font-size: 1.25em;
  position: relative;
  text-transform: uppercase;
}
section.services .row .col .card .inner-card h1::after,
section.services .row .col .card .inner-card h2::after,
section.services .row .col .card .inner-card h3::after,
section.services .row .col .card .inner-card h4::after,
section.services .row .col .card .inner-card h5::after,
section.services .row .col .card .inner-card h6::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  margin: 0 auto;
  max-width: 80px;
  position: absolute;
  transform: translateX(-50%);
  width: 50%;
}
section.services .row .col .card .inner-card h1::after,
section.services .row .col .card .inner-card h2::after,
section.services .row .col .card .inner-card h3::after,
section.services .row .col .card .inner-card h4::after,
section.services .row .col .card .inner-card h5::after,
section.services .row .col .card .inner-card h6::after {
  bottom: -5px;
  margin: 0 auto;
}
section.services .row .col .card .inner-card .card-content {
  color: #000;
  font-size: 14px;
  margin: 0 auto;
  max-width: 60ch;
  padding: 1rem;
}
section.services .row .col .card .inner-card .card-content + .cta-btn {
  display: block;
  margin: 1rem auto;
}
section.services .row .col .card .inner-card .card-content + .cta-btn a i {
  margin-right: 1rem;
}
section.services .row .col .card .inner-card img.icon {
  border: 10px solid #e6e6e6;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  transition: border-color 400ms ease;
  -webkit-transition: border-color 400ms ease;
  width: auto;
}
section.services.about .services-header {
  background: rgba(4, 101, 130, 0.75);
  min-height: 50vh;
}
section.services.about .services-header .row .col p {
  letter-spacing: 1px;
}
section.services.about .services-header .row .col p a {
  color: #fff;
  padding: 0 0;
  text-decoration: underline;
}
section.services.about .row .col .card {
  display: block;
  margin: 0 auto;
  width: 90%;
}
section.services.about .row .col .card .inner-card {
  width: 100%;
}
section.services.about .row .col .card .inner-card h3 {
  margin: 0 auto;
  max-width: 100%;
  padding: 1rem;
  text-align: left;
  text-transform: initial;
}
section.services.about .row .col .card .inner-card .card-content {
  font-size: 1em;
  max-width: 60ch;
  padding: 1rem;
}
section.services.about.testimonials .services-header {
  background: rgba(4, 101, 130, 0.5);
  min-height: 25vh;
  margin-bottom: 2rem;
}
section.services.about.testimonials .row .col {
  margin: 2rem auto;
}
section.services.about.testimonials .row .col .card {
  position: relative;
}
section.services.about.testimonials .row .col .card i {
  color: #046582;
  position: absolute;
  top: calc(-56px / 2);
  right: calc(-32px / 2);
}
section.services.about.testimonials .row .col .card .inner-card .card-content {
  padding: 1rem;
}
section.services.about.testimonials.contact .services-header {
  min-height: 33vh;
}
section.services.about.testimonials.contact .row {
  align-items: initial;
}
section.services.about.testimonials.contact .row .col .card {
  height: 100%;
}
section.services.about.testimonials.contact .row .col .card .inner-card h3 {
  text-align: center;
}
section.services.about.testimonials.contact .row .col .card .inner-card .main-form {
  display: block;
  width: 100%;
}
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 350px;
  width: 100%;
}
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control label,
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control input,
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control textarea {
  flex: 0 1 250px;
  margin: 1rem auto 0;
  transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
}
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control input,
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control textarea {
  background: #e6e6e6;
  border: none;
  font-weight: 700;
  line-height: 1.75;
}
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control input:focus-within,
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control textarea:focus-within {
  outline: 2px dotted rgba(4, 101, 130, 0.75);
}
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control button {
  color: #fff;
  margin: 1rem auto;
  max-width: 175px;
  padding: 0.5rem 1rem;
  width: 33%;
}

/***********************
**Special Services Tab**
************************/
section.special-services {
  background: #fff;
  padding: 1rem;
}
section.special-services .row {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
section.special-services .row .col {
  flex: 1 1 100%;
  padding-left: 1rem;
}
section.special-services .row .col ul {
  margin: 1em auto;
  padding: 0;
}
section.special-services .row .col ul li {
  padding: 0.25rem 1rem;
  overflow-wrap: break-word;
}
section.special-services .row .col ul li span {
  margin-right: 1rem;
}
section.special-services .row .col p {
  font-weight: 500;
  margin: 3rem auto 0;
}
section.special-services .row .col h1,
section.special-services .row .col h2,
section.special-services .row .col h3,
section.special-services .row .col h4,
section.special-services .row .col h5,
section.special-services .row .col h6 {
  font-size: 1.25em;
  position: relative;
  text-transform: uppercase;
}
section.special-services .row .col h1::after,
section.special-services .row .col h2::after,
section.special-services .row .col h3::after,
section.special-services .row .col h4::after,
section.special-services .row .col h5::after,
section.special-services .row .col h6::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  margin: 0 auto;
  max-width: 80px;
  position: absolute;
  transform: translateX(-50%);
  width: 50%;
}
section.special-services .row .col h1::after,
section.special-services .row .col h2::after,
section.special-services .row .col h3::after,
section.special-services .row .col h4::after,
section.special-services .row .col h5::after,
section.special-services .row .col h6::after {
  bottom: -5px;
  margin: 0 auto;
}
section.special-services .row .col h3 {
  text-align: center;
}

/***************
**List Section**
****************/
section.list {
  align-items: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-content: center;
  margin: auto;
  max-width: 1366px;
  padding: 1em 1em 2em 1em;
  position: relative;
  text-align: center;
  width: 100%;
}
section.list .card {
  background: #fff;
  height: 100%;
  margin: 1em auto;
  padding: 1em;
  width: 100%;
}
section.list::after {
  background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}
section.list .cta-link {
  display: block;
  margin: auto;
}
section.list .cta-btn {
  color: #fff;
  display: block;
  margin: auto;
  padding: 1em 1.5em;
}
section.list .cta-btn:hover {
  color: #046582;
}
section.list .card-icon {
  align-items: center;
  border: 10px solid #e6e6e6;
  border-radius: 50%;
  color: #f39189;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: auto;
  text-align: center;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  width: 100px;
}
section.list .card-icon:hover {
  border-color: #046582;
}
section.list p.card-content {
  text-align: left;
}

/*****************
****Video Section****
******************/
section.video {
  margin: 2em auto;
  max-width: 1024px;
  width: 100%;
}
section.video .card {
  display: block;
  width: 100%;
}
section.video .card .inner-card {
  width: 100%;
}

/*****************
****Footer****
******************/
.footer-main {
  background: #6e7582;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
}
.footer-main .row {
  grid-column-start: 1;
  grid-column-end: 2;
}
.footer-main .row .col {
  margin: 1rem auto 0;
}
.footer-main .row .col nav.footer-nav a {
  display: block;
  text-align: center;
}
.footer-main .row .col address span {
  margin-left: unset;
}
.footer-main .row .col span {
  font-weight: 600;
  text-decoration: underline;
}
.footer-main .row .col a {
  color: #fff;
  font-weight: initial;
  padding: 0;
  transition: color 250ms ease;
  -webkit-transition: color 250ms ease;
}
.footer-main .row .col a:hover {
  color: #f39189;
}
.footer-main .row:nth-child(1) {
  background: rgba(4, 101, 130, 0.5);
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  text-align: center;
}
.footer-main .row:nth-child(1) .col {
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer-main .row:nth-child(1) .col span.hero-text {
  color: #fff;
  font-size: 20px;
  margin: 2rem auto;
  height: 100%;
  text-decoration: none;
}
.footer-main .row:nth-child(2) {
  background: rgba(4, 101, 130, 0.75);
  color: #fff;
  grid-row-start: 2;
  grid-row-end: 4;
  justify-self: center;
  text-align: center;
  width: 100%;
}
.footer-main .row:nth-child(2) .col span {
  text-align: left;
}
.footer-main .row:nth-child(2) .col address {
  margin: 0 auto;
  max-width: 300px;
}
.footer-main .row:nth-child(2) .col address ul {
  margin: 0 auto;
  padding: 0;
  width: auto;
}
.footer-main .row:nth-child(2) .col address ul span {
  color: #fff;
  font-weight: 700;
  text-align: left;
}
.footer-main .row:nth-child(2) .col address ul li {
  font-style: italic;
  text-align: center;
  width: auto;
}
.footer-main .row:nth-child(2) .col address ul li a {
  color: #fff;
  padding: 0;
  text-decoration: underline;
}
.footer-main .row:nth-child(2) .col .fa-ul {
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.footer-main .row:nth-child(2) .col .fa-ul .navbar-main__menu-title {
  display: block;
  font-weight: 700;
}
.footer-main .row:nth-child(2) .col .fa-ul li.menu-social {
  display: inline-block;
  padding: 0 0.5rem;
  width: auto;
}
.footer-main .row:nth-child(2) .col nav .fa-ul {
  list-style: none;
  max-width: 250px;
}
.footer-main .row:nth-child(2) .col nav .fa-ul li a {
  padding-left: 0;
}
.footer-main .row:nth-child(3) {
  color: #fff;
  background: #046582;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: center;
}
.footer-main .row:nth-child(3) p {
  line-height: 1;
}
.footer-main .row:nth-child(3) p a {
  color: #fff;
  padding: 0;
}

@media screen and (min-width: 768px) {
  header.header-main {
    background-image: url("../images/nurse-senior-walker-tablet.jpg");
  }

  .navbar-main .col:nth-child(1) {
    flex: 1 1 33%;
  }
  .navbar-main .col:nth-child(2) {
    flex: 2 2 66%;
  }
  .navbar-main .col:nth-child(2) .desktop-nav {
    width: 100%;
  }

  .navbar-main nav.active {
    transform: translateX(-5%);
  }

  section.services header.services-header {
    min-height: 50vh;
  }
  section.services .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  section.services .row .col {
    width: 45%;
  }
  section.services .row .col.header-col {
    width: 100%;
    max-width: 968px;
  }
  section.services.about .services-header {
    min-height: 33vh;
  }
  section.services.about .row .col {
    width: 100%;
  }
  section.services.about .row .col .card .inner-card {
    display: flex;
    flex-direction: row;
  }
  section.services.about .row .col .card h3 {
    font-size: 2em;
  }
  section.services.about .row .col .card h3::after {
    display: none;
  }
  section.services.about .row .col .card .card-content {
    text-indent: 4ch;
  }
  section.services.about .row .col .card h3,
section.services.about .row .col .card .card-content {
    flex: 1 1 100%;
  }
  section.services.about.testimonials .services-header {
    height: 50%;
  }
  section.services.about.testimonials .row .col {
    flex: 1 1 50%;
  }
  section.services.about.testimonials .row .col .card .inner-card {
    flex-direction: column;
  }
  section.services.about.testimonials.contact .row {
    align-items: initial;
  }
  section.services.about.testimonials.contact .row .col {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1 1 100%;
  }
  section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control {
    margin: 0 auto;
    max-width: calc(100% * 0.66);
  }
  section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control label,
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control input,
section.services.about.testimonials.contact .row .col .card .inner-card .main-form .form-control textarea {
    flex: 0 0 100%;
  }
  section.services.about.testimonials.contact .row .col:nth-child(2) {
    min-height: 400px;
  }

  /****************************
  **Special Services Sections**
  *****************************/
  section.special-services .row {
    flex-direction: row;
  }
  section.special-services .row .col ul li a {
    display: inline;
  }
  section.special-services .row .col ul li:nth-child(even) {
    background: #396c81;
    color: #fff;
  }

  .footer-main span {
    display: block;
    text-align: center;
    text-decoration: underline;
  }
  .footer-main .row {
    align-items: center;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1f 1fr 1fr;
    justify-content: center;
  }
  .footer-main .row .col nav.footer-nav a {
    text-align: left;
  }
  .footer-main .row .col:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer-main .row .col:nth-child(2) {
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .footer-main .row .col:nth-child(2) .fa-ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .footer-main .row .col:nth-child(2) .fa-ul li.menu-social {
    display: block;
  }
  .footer-main .row .col:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .footer-main .row:nth-child(2) {
    align-items: flex-start;
    padding-top: 1.25em;
  }
  .footer-main .row:nth-child(2) .col address ul li {
    text-align: left;
  }
  .footer-main .row:nth-child(2) .col .fa-ul {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  #siteTitle,
#siteSubtitle {
    margin-top: 0;
    margin-bottom: -0.25em;
    margin-left: 1rem;
    margin-right: 0;
    padding: 0;
    text-align: left;
  }

  #siteTitle {
    font-size: 1.66em;
  }

  #siteSubtitle + button.cta-btn {
    margin-left: 1em;
    margin-right: 0;
    width: 100%;
  }

  header.header-main {
    background-image: url("../images/nurse-senior-walker-1024.jpg");
    flex-direction: row;
    height: calc(100% - 100px);
    padding: 0 3rem;
  }
  header.header-main .col {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header.header-main .col h1,
header.header-main .col p {
    flex: 0 0 100%;
    text-align: center;
    width: 100%;
  }

  .navbar-main .mobile-nav {
    display: none;
  }
  .navbar-main .navbar-main__container {
    background: #fff;
  }
  .navbar-main .navbar-main__container .col .hamburger-container {
    display: none;
    z-index: -100000;
  }
  .navbar-main .navbar-main__container .col .desktop-nav {
    display: block;
    max-height: 100px;
    min-height: unset;
    padding: 0;
    position: relative;
    transform: translateX(0);
  }

  section.services.about .row .col {
    max-width: 768px;
  }
  section.services.about.testimonials .row {
    justify-content: center;
  }
  section.services.about.testimonials .row .col {
    flex: 0 0 25%;
  }
  section.services.about.testimonials .row .col .card.testimonial .inner-card h3 {
    font-size: 1.25rem;
  }
  section.services.about.testimonials.contact .row {
    padding: 0;
  }
  section.services.about.testimonials.contact .row .col {
    flex: 1 1 40%;
  }

  /****************************
  **Special Services Sections**
  *****************************/
  section.special-services .row {
    flex-direction: row;
    margin: 0 auto;
    max-width: 968px;
  }
  section.special-services .row .col ul li a {
    display: inline;
  }
  section.special-services .row .col ul li:nth-child(even) {
    background: #396c81;
    color: #fff;
  }
}
/***************
**List Section**
****************/
@media screen and (min-width: 1365px) {
  header.header-main {
    max-height: 75vh;
    background-image: url("../images/nurse-senior-walker-1365.jpg");
  }
  header.header-main .col {
    max-width: 33%;
  }

  section.services header.services-header {
    min-height: 50vh;
  }
  section.services .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  section.services .row .col {
    width: 25%;
  }
  section.services .row .col.header-col {
    width: 75ch;
  }
  section.services.about .fixed-background {
    align-items: center;
    background: url("../images/child-elderly-parent-1365.jpg") no-repeat fixed center center/cover;
    height: 100%;
  }
  section.services.about .fixed-background .col {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  section.services.about .fixed-background .card {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    color: #fff;
  }
  section.services.about .fixed-background .card .inner-card .card-content {
    color: #fff;
  }
  section.services.about.testimonials .row {
    align-items: center;
  }
  section.services.about.testimonials .row .col {
    padding: 1rem;
  }
}
@media screen and (min-width: 1920px) {
  header.header-main {
    height: 75vh;
  }
}

/*# sourceMappingURL=main.css.map */
