@mixin underline-title {
    h1,h2,h3,h4,h5,h6 {
        font-size: 1.25em;
        position: relative;
        text-transform: uppercase;
        &::after {
            background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
            content: '';
            display: block;
            height: 2px;
            left: 50%;
            margin: 0 auto;
            max-width: 80px;
            position: absolute;
            transform: translateX(-50%);
            width: 50%;
        }
        &::after {
            bottom: -7px;
            margin: 0 auto;
        }
}
    }
        

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

*,
*::before,
*::after {
     
    line-height: 1.75;
}

html,
body {
    background: #dcdcdc;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    height: auto;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

a,
a:visited {
    color: #6e7582;
    display: inline-block;
    font-weight:  800;
    letter-spacing: 1.5px;
    padding: 1em 1.5em;
    text-decoration: none;
}

a:hover,
a:active {
    color: #bb8082;
}

img {
    max-width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 250ms linear;
    -webkit-transition: opacity 250ms linear 250ms;
}

img.fadeIn {
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

/**************
****Buttons*****
***************/

.cta-btn {
    background: #046582;
    border: none;
    box-shadow: 2px 2px 20px -10px rgba(255,255,255,0.75);
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease-in-out;
    &:hover {
        background: #f39189;
        &::before,
        &::after {
            opacity: 1;
            left: 175%;
            transform: skew(15deg);
            transition: left 450ms ease;
            -webkit-transition: left 450ms ease;
        }
    }
    &::before,
    &::after {
        background: rgba(255,255,255,1);
        content: '';
        display: block;
        height: 100%;
        left: -175%;
        opacity: 0;
        position: absolute;
        transform: skew(-35deg);
        transition:  left 250ms ease-in-out;
        -webkit-transition:  left 250ms ease-in-out;
        top: 0;
    }
    &::before {
        filter: blur(20px);
        transform: skew(-45deg);
        width: 100px;
    }
    &::after {
        filter: blur(30px);
        transform: skew(-55deg);
        width: 125px;
    }

}

.cta-btn > a {
    color: #fff;
    &:hover {
        color: #046582; 
    }
}



/**************
****Header*****
***************/

.header-main {
    background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../images/holding-hands-1920.jpg') fixed center center / cover;
    width: 100%;
    .carousel {
        height: 100%;
        overflow: hidden;
        width: 100%;
        .carousel-inner {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 100%;
            justify-content: flex-start;
            transform: translateX(000%);
            transition: all 250ms linear;
            -webkit-transition: all 250ms linear;
            .carousel-item {
                flex: 0 0 100%;
                height: 100%;
                opacity: 1;
                padding: 1rem 0;
                transition: all 250ms linear;
                -webkit-trainsition: all 250ms linear;
                width: 100%;
                &.active {
                    opacity: 1;
                }
                .row {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: flex-start;
                    width: 100%;
                    .col {
                        color: #000;
                        // height: 100%;
                        padding: rem;
                        text-align: center;
                        // text-shadow: 2px 2px 15px #777;
                        width: 100%;
                        h1 {
                            font-family: 'Playfair Display', serif;
                            font-weight: 700;
                            padding: 1rem;
                        }
                        figure {
                            img {
                                max-height: 250px;
                            }
                            figcaption {
                                color: #000;
                            }
                        }

                }
            }
        }
    }
}
}

/********************
**Mobile Navigation**
*********************/



.navbar-main {
    height: 100px;
    .navbar-main__container {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-between;
        .col {
            text-align: center;
            width: 50%;
            a {
                display: inline-block;
                font-weight: 700;
                text-decoration: none;
            }
            .hamburger-container {
                cursor: pointer;
                display: block;
                float: right;
                margin-right: 1.5rem;
                padding: 1.5em;
                // position: absolute;
                right: 2em;
                text-align: initial;
                top: .66em;
                span.hamburger {
                    background: #333;
                    border-radius: 10px;
                    display: inline-block;
                    height: 7px;
                    position: relative;
                    transition: all 250ms ease;
                    -webkit-transition: all 250ms;
                    width: 33px;
                    &::before,
                    &::after {
                        background: #333;
                        border-radius: 10px;
                        content: '';
                        display: inline-block;
                        height: 7px;                        
                        position: absolute;    
                        transition: all 250ms ease;
                    -webkit-transition: all 250ms;                    
                        width: 33px;
                    }
                    &::before {
                        top: -10px;
                    }
                    &::after {
                        bottom: -10px;
                    }
                }
                span.active {
                    background: rgba(0,0,0,0);
                    margin: auto;
                }
                span.active::before {
                    background:#046582;
                    bottom: 10px;
                    transform: rotateZ(-45deg) translateY(0);
                    top: 0;
                }
                span.active::after {
                    bottom: 10px;
                    color: #046582;                    
                    top: 0;
                    transform: rotateZ(45deg) translateY(0);
                }
            }
        }
    }
    nav {
        background: #fff;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        padding: 40px 0 40px 0;
        position: absolute;
        top: 0;
        transform: translateX(-100%);
        transition: all 250ms linear;
        -webkit-transition: all 250ms linear;
        width: calc(100% - 100px);
        z-index: 2;
        address > ul > li {
            justify-content: flex-start;
            text-align: left;
        }
        address > ul > li > a {
            display: inline;
            flex: initial;
            padding: 0;
        }
        ul {
            display: block;
            list-style-position: inside;
            margin: 2em auto 0;
            text-align: center;
            width: calc(100% * .66);
            .navbar-main__menu-title {
                display: inline-block;
                font-weight: 700;
                position: relative;
                width: 100%;
                &::after {
                    background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
                    border-radius: 10px;
                    content: '';
                    display: block;
                    height: 2px;
                    margin: 1em auto;
                    width: 100%;


                }
            }
            li {
                align-items: center;
                display: flex;
                justify-content: center;
                margin: 0;
                text-align: left;
                width: auto;
                a {
                    flex: 1 1 100%;
                    padding: 1em 1.5em;
                }
                span.fa-li {
                    color: #f39189;
                    flex: 1 1 100%;
                    padding-left: 1em;
                    transition: all 250ms ease;
                    -webkit-transition: all 250ms ease;
                }
                &:hover > span.fa-li {
                    color: #6e7582;
                    padding-left: 2em;
                    
                }
            }
            li.menu-social {
                display: inline-block;
                margin: 0 .5em;
                width: initial;
                i {
                    color: #046582;
                    transition: color 250ms ease;
                    &:hover {
                        color: #6e7582;
                    }
                }
                a {
                    display: initial;
                    padding: initial;
                }
            }
        }
       
        
    }
    nav.active {
        border-right: 1px solid #6e7582;
        box-shadow: 2px 2px 20px -10px rgba(0,0,0,0.33);
        position: absolute;
        transform: translateX(0%);
        transition: all 250ms linear;
        -webkit-transition: all 250ms linear;
        
    }
    
}



/***********
**Sections & Services**
************/

section.services {
    .services-header {
        align-items: center;
        background: #046582;
        color: #fff;
        display: grid;
        height: 50vh;
        position: relative;
        text-align: center;
        &::before,
        &::after {
            background: linear-gradient(0.25turn, #046582, #6e7582, #bb8082, #f39189, #fff);
            content: '';
            display: block;
            height: 5px;
            left: 0;
            position: absolute;
            width: 100%;
        }
        &::before {
            top: 0px;
        }
        &::after {
            bottom: 0;
        }
        .row {
            .col {
                p {
                    margin: 1rem auto;
                    max-width: 60ch;
                    padding: 1em;
                    text-align: left;
                }
            }
        }
    }
    .row {
        width: 100%;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
                text-align: center;
            }
        .col {
            margin: 1rem auto;
            width: 100%;
            .card {
                background: #fff;
                box-shadow: 0 0 20px -5px rgba(0,0,0,0.33);
                margin: auto;
                width: 90%;
                &:first {
                    margin-top: 0;
                }
                .inner-card {
                    padding: 1rem 0;
                    width: 100%;
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        text-align: center;
                    }
                    @include underline-title;
                    .card-content {
                        color: #000;
                        font-size: 14px;
                        margin: 0 auto;
                        max-width: 60ch;
                        padding: 1rem;
                    }
                    .card-content + .cta-btn {
                        // background: #fff;
                        display: block;
                        margin: 1rem auto;
                        a {
                            // color: #f39189;
                            i {
                                margin-right: 1rem;
                            }
                        }
                    }
                    img.icon {
                        display: block;
                        margin: 0 auto;
                        width: auto;
                    }
                }
            }
        }
    }
    &.about {
        .services-header {
            background: rgba(4, 101, 130, 0.75);
            height: 100vh;
            .row {
                .col {
                    p {
                        letter-spacing: 1px;
                        a {
                            color: #fff;
                            padding: 0 0;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .row {
            .col {
                .card {
                    display: block;
                    margin: 0 auto;
                    width: 90%;
                    .inner-card {
                        width: 100%;
                        h3 {
                            margin: 0 auto;
                            max-width: 300px;
                            padding: 1rem;
                            text-align: left;
                            text-transform: initial;
                        }
                        .card-content {
                            max-width: 60ch;
                            padding: 1rem;
                        }
                    }
                }
            }
        }
        &.testimonials {
            .services-header {
                background: rgba(4, 101, 130, 0.50);
                height: 100vh;
                margin-bottom: 2rem;
            }
            .row {
                .col {
                    margin: 2rem auto;
                    .card {
                        position: relative;
                        i {
                            color: #046582;
                            position: absolute;
                            top: calc(-56px /2);
                            right: calc(-32px / 2);
                        }
                        .inner-card {
                            .card-content {
                                padding: 1rem;
                            }
                        }
                    }
                }
            }
            &.contact {
                .row {
                    .col {
                        .card {
                            .inner-card {
                                h3 {
                                    text-align: center;
                                }
                                .main-form {
                                    display: block;
                                    width: 100%;
                                    .form-control {
                                        align-items: center;
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: flex-start;
                                        max-width: 350px;
                                        width: 100%;
                                        label,
                                        input,
                                        textarea {
                                            flex: 0 1 250px;
                                            margin: 1rem auto 0;
                                            transition: all 250ms linear;
                                            -webkit-transition: all 250ms linear;
                                        }
                                        input,
                                        textarea {
                                            background: #e6e6e6;
                                            border: none;
                                            font-weight: 700;
                                            line-height: 1.75;
                                            &:focus-within {
                                                outline: 2px dotted rgba(4, 101, 130, 0.75);
                                            }
                                        }
                                        button {
                                            color: #fff;
                                            margin: 1rem auto;
                                            max-width: 175px;
                                            padding: .5rem 1rem;
                                            width: 33%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



/*****************
****Footer****
******************/

.footer-main {
    background: #6e7582;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    .row {
        grid-column-start: 1;
        grid-column-end: 2;
        .col {
            margin: 1rem auto 0;
            
            a {
                color: #f39189;
                transition: color 250ms ease;
                -webkit-transition: color 250ms ease;
                &:hover {
                    color: #fff;
                }
            }
        }
        &:nth-child(1) {
            align-self: center;
            background: rgba(4, 101, 130, 0.5);
            grid-row-start: 1;
            grid-row-end: 2;
            height: 100%;
            text-align: center;
            .col {
                align-items: center;
                display: flex;
                justify-content: center;
                span.hero-text {
                    color: #fff;
                    font-size: 20px;
                    margin: 2rem auto;
                    height: 100%;
                }
            }
        }
        &:nth-child(2) {
            background: rgba(4, 101, 130, 0.75);
            color: #fff;
            grid-row-start: 2;
            grid-row-end: 3;
            .col {
                address {
                    margin-left: 2.5rem;
                    max-width: 300px;
                    ul {
                        max-width: 250px;
                        margin: 0;
                        padding: 0;
                        span {
                            color: #fff;
                            font-weight: 700;
                        }
                        li {
                            font-style: italic;
                            a {
                                color: #fff;
                                padding: 0;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .fa-ul {
                    .navbar-main__menu-title {
                        display: block;
                        font-weight: 700;
                    }
                    li.menu-social {
                        display: inline;
                        width: auto;
                    }
                }
                nav {
                    .fa-ul {
                        list-style: none;
                        max-width: 250px;
                        li {
                            a {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
        &:nth-child(3) {
            color: #fff;
            background: rgba(4, 101, 130, 1.0);
            grid-row-start: 3;
            grid-row-end: 4;
            text-align: center;
            p {
                a {
                    padding: 0;
                }
            }
        }
    }
}




@media screen and (min-width: 767px) {
    section.services {
        header.services-header {
            min-height: 50vh;
        }
        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .col {
                width: 45%;
                .card {
                    min-height: 50vh;
                }
            }
        }
    }
}


@media screen and (min-width: 1365px) {
    section.services {
        header.services-header {
            height: auto;
        }
        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .col {
                width: 20%;
                .card {
                   
                }
            }
        }
    }
}
