{{ define "header" }} {{ partial "navbar.html" . }}
<header>
  <h1>{{ .Title }}</h1>
  {{ partial "breadcrumbs.html" . }}
</header>
{{ end }} {{ define "main" }}
<section class="contact-us">
  <div class="row">
    <div class="col">
      <header>
        <h2>We are here for you</h2>
        <p>We are available for tours and consultations by appointment.</p>
      </header>
      <div class="card">
        <h3>Contact Information</h3>
        <ul>
          <li>
            <a href="tel:+12319353772"
              ><i
                aria-hidden="true"
                class="fas fa-xl fa-phone"
                title="231-935-3772"
              ></i
              >(231) 935-3772</a
            >
          </li>
          <li>
            <a href="#"
              ><i
                aria-hidden="true"
                class="fas fa-xl fa-paper-plane"
                title="Email Us"
              ></i
              >info@arborhousealh.org</a
            >
          </li>
        </ul>
      </div>
      <div class="card">
        <h3>Address</h3>
        <address>
          <ul>
            <li>6901 Mission Ridge</li>
            <li>
              Traverse City, Michigan <br />
              49686
            </li>
          </ul>
        </address>
      </div>
      <div class="card">
        <h3>Social</h3>
        <div class="card-content">
          <a
            href="https://www.facebook.com/ArborHouseAssistedLivingHome/"
            target="_blank"
            rel="nofollow noreferrer"
            title="Facebook"
            ><i aria-hidden="true" class="fab fa-xl fa-facebook"></i>Facebook</a
          >
          <a href="#"
            ><i
              aria-hidden="true"
              class="fas fa-xl fa-paper-plane"
              title="Email Us"
            ></i
            >info@arborhousealh.org</a
          >
          <a href="tel:+12319353772"
            ><i
              aria-hidden="true"
              class="fas fa-xl fa-phone"
              title="231-935-3772"
            ></i
            >231 935 3772</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <header>
        <h2>Contact Us</h2>
        <p>We will answer your inquiry as soon as possible.</p>
      </header>
      <form class="main-form" id="mainForm">
        <input
    type="text"
    name="movie"
    style="display: none;"
/>
        <div class="form-control">
          <label for="username">Name: </label>
          <input type="text" name="username" id="username" />
          <small class="username"></small>
        </div>
        <div class="form-control">
          <label for="email">Email: </label>
          <input type="text" name="email" id="email" />
          <small class="email"></small>
        </div>
        <div class="form-control">
          <label for="message">Message:</label>
          <textarea name="message" id="message" cols="30" rows="10"></textarea>
          <small class="message"></small>
        </div>
        <div class="form-control">
          <label for="math"
            ><span id="numberOne"></span> + <span id="numberTwo"></span> =
          </label>
          <input type="text" name="math" id="math" />
          <small class="math"></small>
        </div>
        <div class="form-control">
          <button class="cta-btn" id="submit" type="submit">Submit</button>
          <button class="cta-btn" id="clear" type="reset">Reset</button>
          <small class="button"></small>
        </div>
      </form>
    </div>
  </div>
</section>

<script>
  const form = document.getElementById("mainForm");
  const username = document.getElementById("username");
  const email = document.getElementById("email");
  const message = document.getElementById("message");
  const excludes = ["(", ")", "{", "}", "<", ">", ";", "/", "=", "console.log"];
  const regexEmail =
    /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  let sum;

  function showError(id, message) {
    console.log(id.parentElement);
    const formControl = id.parentElement;
    formControl.className = "form-control error";
    const small = formControl.querySelector("small");
      small.textContent = message;
  }

  function showSuccess(id) {
    const formControl = id.parentElement;
  }

  function validateField(id, length, message) {
    //   get input value
    const value = id.value.toLowerCase().trim();

    //   check if empty
    if (!value) {
      return showError(id, "cannot be empty");
    }

    //  check if too long
    if (value.length > length) {
      return showError(id, `too many characters`);
    }

    //  check for special characteres
    for (let char of excludes) {
      if (value.includes(char)) {
        return showError(id, `invalid entries`);
      }
    }
    showSuccess(id);
    return true;
  }

  function validateEmail(id, message) {
    const value = id.value.toLowerCase().trim();
    if (!regexEmail.test(value)) {
      return showError(id, message);
    }
    showSuccess(id);
    return true;
  }

  function mathGateway() {
    const numberOne = document.getElementById("numberOne");
    const numberTwo = document.getElementById("numberTwo");
    const number1 = Math.floor(Math.random() * 10) + 1;
    const number2 = Math.floor(Math.random() * 10) + 1;
    sum = number1 + number2;

    numberOne.textContent = number1;
    numberTwo.textContent = number2;

    console.log(number1);
  }

  function validateMath(id) {
    id = document.getElementById(id);
    if (id.value != sum) {
      showError(id, "invalid response");
      return false;
    } else {
      showSuccess(id);
      return true;
    }
  }

  mathGateway();

  function resetFormControl() {
    const formControls = document.querySelectorAll(".form-control");
    formControls.forEach((control) => {
      control.classList = "form-control";
      control.querySelector("small").textContent = "";
    });
  }

  async function sendRequest(url, data) {
    data = {
      name: username.value,
      email: email.value,
      message: message.value,
    };
    const response = await fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    });
    return response;
  }

  form.addEventListener("submit", (e) => {
    const formControls = document.querySelectorAll(".form-control");
    const valid = [];
    e.preventDefault();
    resetFormControl();
    validateField(username, 40, "invalid message")
      ? valid.push(true)
      : valid.push(false);
    validateField(email, 50, "invalid message")
      ? valid.push(true)
      : valid.push(false);
    validateEmail(email, "invalid email")
      ? valid.push(true)
      : valid.push(false);
    validateField(message, 500, "invalid message")
      ? valid.push(true)
      : valid.push(false);
    validateMath("math") ? valid.push(true) : valid.push(false);
    console.log(valid);

    const checkTruth = (currentValue) => currentValue == true;

    const checkValid = valid.every(checkTruth);
    if (form.movie.value !== '') {
      return;
    }
    if (!checkValid) {
      console.log("error...");
    } else {
      sendRequest(
        "https://api.formcake.com/api/form/9d9ac373-7f50-43d9-abd0-c1ca773981cc/submission"
      )
        .then((response) => response.json())
        .then((data) => {
          localStorage.setItem("formData", JSON.stringify(data.data));
          location.assign("{{.Site.BaseURL}}success");
        });
    }
  });
</script>
{{ end }}
