{{ define "header" }}
{{ partial "navbar.html" . }}
<header class="page-header">
<h1>{{ .Title }}</h1>
<h2>Assisted Living Home Specializing in Dementia and Alzheimer’s Care in Traverse City</h2>
<figure>
    <img data-src="{{ .Site.BaseURL}}images/for-rent-hero-image.jpg" class="lazy" alt="Arbor House in it's lovely natural surroundings">
    <figcaption>Apartment is located next to Arbor House Assisted Living at 6901 Mission Ridge on beautiful Traverse City Old Mission Peninsula!</figcaption>
</figure>
</header>
{{ end }}

{{ define "main" }}
<section class="for-rent images" style="min-height: 100vh;">
    <header>
        <h4>Arbor House Gallery</h4>
    </header>
    <div class="row interior exterior">
        <div class="col">
            <button class="gallery-toggle" data-class="interior exterior people">All</button>
            <button class="gallery-toggle" data-class="exterior">Exterior</button>
            <button class="gallery-toggle" data-class="interior">Interior</button>
            <button class="gallery-toggle" data-class="people">People</button>
        </div>
    </div>
    <div class="row interior exterior">
        <p>Hover over to zoom</p>
    </div>
    <div class="row interior">
        <img data-full="{{.Site.BaseURL}}images/interior/interior-31.jpg" data-src="{{.Site.BaseURL}}images/interior/thumbnail-interior-31.jpg" alt="Interior Photo" class="interior lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/interior/interior-32.jpg" data-src="{{.Site.BaseURL}}images/interior/thumbnail-interior-32.jpg" alt="Interior Photo" class="interior lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/interior/interior-33.jpg" data-src="{{.Site.BaseURL}}images/interior/thumbnail-interior-33.jpg" alt="Interior Photo" class="interior lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/interior/interior-34.jpg" data-src="{{.Site.BaseURL}}images/interior/thumbnail-interior-34.jpg" alt="Interior Photo" class="interior lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/interior/interior-35.jpg" data-src="{{.Site.BaseURL}}images/interior/thumbnail-interior-35.jpg" alt="Interior Photo" class="interior lazy gallery" width="499" height="281">
    </div>
    <div class="row interior">
        <img data-full="{{.Site.BaseURL}}images/interior/interior-36.jpg" data-src="{{.Site.BaseURL}}images/interior/thumbnail-interior-36.jpg" alt="Interior Photo" class="interior lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/interior/interior-37.jpg" data-src="{{.Site.BaseURL}}images/interior/thumbnail-interior-37.jpg" alt="Interior Photo" class="interior lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/interior/interior-38.jpg" data-src="{{.Site.BaseURL}}images/interior/thumbnail-interior-38.jpg" alt="Interior Photo" class="interior lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/interior/interior-39.jpg" data-src="{{.Site.BaseURL}}images/interior/thumbnail-interior-39.jpg" alt="Interior Photo" class="interior lazy gallery" width="499" height="281">
        <!-- <img data-full="{{.Site.BaseURL}}images/interior/interior-40.jpg" data-src="{{.Site.BaseURL}}images/interior/thumbnail-interior-40.jpg" alt="Interior Photo" class="interior lazy gallery" width="499" height="281"> -->
    </div>
    <div class="row interior">
        <img data-full="{{.Site.BaseURL}}images/interior/interior-41.jpg" data-src="{{.Site.BaseURL}}images/interior/thumbnail-interior-41.jpg" alt="Interior Photo" class="interior lazy gallery" width="499" height="281">
    </div>
    <div class="row exterior">
        <img data-full="{{.Site.BaseURL}}images/exterior/exterior-14.jpg" data-src="{{.Site.BaseURL}}images/exterior/thumbnail-exterior-14.jpg" alt="Exterior Photo" class="exterior lazy gallery" width="350" height="467">
        <img data-full="{{.Site.BaseURL}}images/exterior/exterior-15.jpg"  data-src="{{.Site.BaseURL}}images/exterior/thumbnail-exterior-15.jpg" alt="Exterior Photo" class="exterior lazy gallery" width="350" height="467">
        <img data-full="{{.Site.BaseURL}}images/exterior/exterior-16.jpg"  data-src="{{.Site.BaseURL}}images/exterior/thumbnail-exterior-16.jpg" alt="Exterior Photo" class="exterior lazy gallery" width="350" height="467">
        <img data-full="{{.Site.BaseURL}}images/exterior/exterior-17.jpg"  data-src="{{.Site.BaseURL}}images/exterior/thumbnail-exterior-17.jpg" alt="Exterior Photo" class="exterior lazy gallery" width="350" height="467">
        <img data-full="{{.Site.BaseURL}}images/exterior/exterior-18.jpg"  data-src="{{.Site.BaseURL}}images/exterior/thumbnail-exterior-18.jpg" alt="Exterior Photo" class="exterior lazy gallery" width="350" height="467">
        <img data-full="{{.Site.BaseURL}}images/exterior/exterior-19.jpg"  data-src="{{.Site.BaseURL}}images/exterior/thumbnail-exterior-19.jpg" alt="Exterior Photo" class="exterior lazy gallery" width="350" height="467">
        <img data-full="{{.Site.BaseURL}}images/exterior/exterior-20.jpg"  data-src="{{.Site.BaseURL}}images/exterior/thumbnail-exterior-20.jpg" alt="Exterior Photo" class="exterior lazy gallery" width="350" height="467">
        <img data-full="{{.Site.BaseURL}}images/exterior/exterior-21.jpg"  data-src="{{.Site.BaseURL}}images/exterior/thumbnail-exterior-21.jpg" alt="Exterior Photo" class="exterior lazy gallery" width="350" height="467">
    </div>
    <div class="row people">
        <img data-full="{{.Site.BaseURL}}images/people/people-1.jpg"  data-src="{{.Site.BaseURL}}images/people/thumbnail-people-1.jpg" alt="people Photo" class="people lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/people/people-2.jpg"  data-src="{{.Site.BaseURL}}images/people/thumbnail-people-2.jpg" alt="people Photo" class="people lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/people/people-3.jpg"  data-src="{{.Site.BaseURL}}images/people/thumbnail-people-3.jpg" alt="people Photo" class="people lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/people/people-4.jpg"  data-src="{{.Site.BaseURL}}images/people/thumbnail-people-4.jpg" alt="people Photo" class="people lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/people/people-5.jpg"  data-src="{{.Site.BaseURL}}images/people/thumbnail-people-5.jpg" alt="people Photo" class="people lazy gallery" width="499" height="281">
    </div>
    <div class="row people">
        <img data-full="{{.Site.BaseURL}}images/people/people-6.jpg"  data-src="{{.Site.BaseURL}}images/people/thumbnail-people-6.jpg" alt="people Photo" class="people lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/people/people-7.jpg"  data-src="{{.Site.BaseURL}}images/people/thumbnail-people-7.jpg" alt="people Photo" class="people lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/people/people-8.jpg"  data-src="{{.Site.BaseURL}}images/people/thumbnail-people-8.jpg" alt="people Photo" class="people lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/people/people-9.jpg"  data-src="{{.Site.BaseURL}}images/people/thumbnail-people-9.jpg" alt="people Photo" class="people lazy gallery" width="499" height="281">
        <img data-full="{{.Site.BaseURL}}images/people/people-10.jpg"  data-src="{{.Site.BaseURL}}images/people/thumbnail-people-10.jpg" alt="people Photo" class="people lazy gallery" width="499" height="281">
    </div>
</section>

<script>
    const btns = document.querySelectorAll('.gallery-toggle');
    const galleryImages = document.querySelectorAll('.gallery');
    const rows = document.querySelectorAll('.row')

    galleryImages.forEach((img) => {
        img.addEventListener('click', (e) => {
            location.href = e.target.getAttribute('data-full')

        })
    })

    btns.forEach((btn) => {
        btn.addEventListener('click', (e) => {
            galleryImages.forEach((img) => {
                img.parentNode.style.display = "none";
                img.src = '';
                img.style.display = "none";
                img.classList.remove('fadeIn');
                lazyLoad('.gallery')
            })
            const id = e.target.getAttribute('data-class');
            const idArray = id.split(' ');
            console.log(idArray)
            galleryImages.forEach((image) => {
                idArray.forEach((id) => {
                    if (image.classList.contains(id)) {
                        image.style.display = 'inline';
                        image.parentNode.style.display = "flex";
                    }
                })
            })

        })
    })
</script>
{{ end }}