{{ define "header" }}
{{- partial "page-header" .  -}}
{{ end }}

{{ define "main" }}
<!-- breadcrumbs -->
<section class="list">
    {{ range .Pages }}
            <div class="card">
                <div class="inner-card">
                    <a href="{{.RelPermalink}}"><h3>{{ .Name }}</h3></a>
                    <div class="card-icon">
                        <a href="{{ .RelPermalink}}"><i class="fas fa-star-of-life fa-2x"></i></a>
                    </div>
                    <a href="{{ .RelPermalink}}" class="cta-link"><button class="cta-btn">{{ .Name}}</button></a>
                    <p class="card-content">{{ .Params.cardContent}}</p>
                </div>
        </div>
    
    {{end }}
</section>
<!-- VIDEO -->
{{- partial "video.html" . -}}
{{ end }}