
{-{ partial "page-header" .  -}}


{{ define "main" }}
<!-- Page Content -->
<section id="main" class="single-page">
  <h2>{{ .Params.subtitle }}</h2>
  <figure>
    <img data-src="{{.Site.BaseURL}}{{.Params.imageURL}}" alt="{{ .Title }}" class="lazy">
    <figcaption>{{.Params.figcaption}}</figcaption>
  </figure>
  <div>
        <article id="content">
           {{ .Content }}
           <button class="cta-btn"><a href="tel:+12319353772">Call Now</a></button>
        </article>
  </div>
</section>

{{- partial "video.html" . -}}
{{- partial "aside.html" . -}} 
{{ end }}