{{ define "main" }}
<!-- breadcrumbs -->
{{ partial "breadcrumbs.html" .}}
<!-- Page Content -->
<section id="main" class="single-page">
  <h2>{{ .Params.subtitle }}</h2>
  <figure>
    <img data-src="{{.Params.imageURL}}" alt="{{ .Title }}" class="lazy">
    <figcaption>{{.Params.figcaption}}</figcaption>
  </figure>
  <div>
        <article id="content">
           {{ .Content }}
           <button class="cta-btn"><a href="tel:+12319353772">Call Now</a></button>
        </article>
  </div>
</section>

<section class="video">
  <div class="card">
    <div class="inner-card">
        <iframe width="100%" height="450px" src="https://www.youtube.com/embed/xgFyQvac6qM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
</section>
{{- partial "aside.html" . -}} 
{{ end }}